<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Create a page</h4>
        </header>

        <article class="card-body">
          <form *ngIf="userType === 'LEGISLATOR'" [formGroup]="userCreationForm" (ngSubmit)="createUser()">
            <div class="form-row">
              <div class="col form-group">
                <label>Display Name</label>
                <input type="text" class="form-control" placeholder="Display Name" formControlName="full_name"/>
              </div>
            </div>
            
            <div class="form-row">
              <div class="col form-group">
                <label>User Name</label>
                <input type="text" class="form-control" placeholder="User Name" formControlName="username"/>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label>First name</label>
                <input type="text" class="form-control" placeholder="First name" formControlName="first_name" required/>
              </div>
              <div class="col form-group">
                <label>Last name</label>
                <input type="text" class="form-control" placeholder="Last name" formControlName="last_name" required/>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label class="create-page-label">Party</label>
                <div class="ng-autocomplete create-page">
                  <ng-autocomplete
                    [data]="searchUsers"
                    placeHolder="Party"
                    (inputChanged) = "onChangeSearch($event)"
                    [searchKeyword]="keyword"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <div class="item">
                      <img src="{{item.photoUrl}}" height="25">
                      <span [innerHTML]="item.firstName"></span>
                      <small></small>
                    </div>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>

            </div>

            <div class="form-row">
              <div class="col form-group">
                <label class="create-page-label">District</label>
                <div class="ng-autocomplete create-page">
                  <ng-autocomplete
                    [data]="searchUsers"
                    placeHolder="District"
                    (inputChanged) = "onChangeSearch($event)"
                    [searchKeyword]="keyword"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <div class="item">
                      <img src="{{item.photoUrl}}" height="25">
                      <span [innerHTML]="item.firstName"></span>
                      <small></small>
                    </div>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col form-group">
                <label class="create-page-label">Chamber</label>
                <div class="ng-autocomplete create-page">
                  <ng-autocomplete
                    [data]="searchUsers"
                    placeHolder="Chamber"
                    (inputChanged) = "onChangeSearch($event)"
                    [searchKeyword]="keyword"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <div class="item">
                      <img src="{{item.photoUrl}}" height="25">
                      <span [innerHTML]="item.firstName"></span>
                      <small></small>
                    </div>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label class="create-page-label">State</label>
                <div class="ng-autocomplete create-page">
                  <ng-autocomplete
                    [data]="searchUsers"
                    placeHolder="State"
                    (inputChanged) = "onChangeSearch($event)"
                    [searchKeyword]="keyword"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>

                  <ng-template #itemTemplate let-item>
                    <div class="item">
                      <img src="{{item.photoUrl}}" height="25">
                      <span [innerHTML]="item.firstName"></span>
                      <small></small>
                    </div>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" [disabled]="!userCreationForm.valid" class="btn btn-primary btn-block"> Continue  </button>
            </div>
          </form>

          <form *ngIf="userType === 'POLITICAL_PARTY'" [formGroup]="userCreationForm" (ngSubmit)="createUser()">
            <div class="form-row">
              <div class="col form-group">
                <label>Party Name</label>
                <input type="text" class="form-control" placeholder="Display Name" formControlName="full_name" required/>
              </div>
            </div>
            
            <div class="form-row">
              <div class="col form-group">
                <label>Party Id</label>
                <input type="text" class="form-control" placeholder="Party Name" formControlName="username"/>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label>Description</label>
                <textarea type="text" class="form-control" placeholder="Description" formControlName="description"></textarea>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" [disabled]="!userCreationForm.valid" class="btn btn-primary btn-block"> Continue  </button>
            </div>
          </form>

          <form *ngIf="userType === 'LEGISLATIVE_DISTRICT'" [formGroup]="userCreationForm" (ngSubmit)="createUser()">
            <div class="form-row">
              <div class="col form-group">
                <label>District Name</label>
                <input type="text" class="form-control" placeholder="Display Name" formControlName="full_name" required/>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label>District Id</label>
                <input type="text" class="form-control" placeholder="District Id" formControlName="username"/>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label>Description</label>
                <textarea type="text" class="form-control" placeholder="Description" formControlName="description"></textarea>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label>Access Restriction</label>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="accessRestriction">
                  <label class="custom-control-label" for="customSwitch1">Public[OFF] / Private[ON]</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" [disabled]="!userCreationForm.valid" class="btn btn-primary btn-block"> Continue  </button>
            </div>
          </form>

          <form *ngIf="userType === 'GROUP'" [formGroup]="userCreationForm" (ngSubmit)="createUser()">
            <div class="form-row">
              <div class="col form-group">
                <label>Group Name</label>
                <input type="text" class="form-control" placeholder="Group Name" formControlName="full_name" required/>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label>Group Id</label>
                <input type="text" class="form-control" placeholder="Group Id" formControlName="username"/>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label>Description</label>
                <textarea type="text" class="form-control" placeholder="Description" formControlName="description"></textarea>
              </div>
            </div>

            <div class="form-row">
              <div class="col form-group">
                <label>Access Restriction</label>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="accessRestriction">
                  <label class="custom-control-label" for="customSwitch1">Public[OFF] / Private[ON]</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" [disabled]="!userCreationForm.valid" class="btn btn-primary btn-block"> Continue  </button>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>

