.populationTemplate{
    border: 2px solid lightblue;    
    position: relative;
    padding: 1em;
    margin: 1em;

  }

.container {
max-width: 1250px;
margin: 30px auto 30px;
padding: 0 !important;
width: 90%;
background-color: #fff;
box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}