<p>
  grouppopulationtemplate works!
</p>

<!-- <ng-template #tpl>
  <div class="container" *ngIf="show">
    <div>
      Population Template:
      <button type="button" *ngIf="allowed()" class="btn btn-danger glyphicon glyphicon-trash" (click)="removeTemplateData()">Remove</button>
    </div>

     <div>
           <h5>Population:</h5>
          <ndv-edit [permission]="allowed()" [min]="2" [max]="50"  [title]="'population'" [placeholder]="population" (onSave)="setValue($event)"></ndv-edit>
     </div>

     <div>
          <h5>Male:</h5>           
          <ndv-edit [permission]="allowed()" [min]="2" [max]="50"  [title]="'maleCount'" [placeholder]="maleCount" (onSave)="setValue($event)"></ndv-edit>                    
     </div>
     <div>
          <h5>Female:</h5>           
          <ndv-edit [permission]="allowed()" [min]="2" [max]="50"  [title]="'femaleCount'" [placeholder]="femaleCount" (onSave)="setValue($event)"></ndv-edit>                    
     </div>
     <div>
          <h5>Race:</h5>           
          <ndv-edit [permission]="allowed()" [min]="2" [max]="50"  [title]="'race'" [placeholder]="race" (onSave)="setValue($event)"></ndv-edit>                    
     </div>
     <div>
          <h5>Unemployment:</h5>           
          <ndv-edit [permission]="allowed()" [min]="2" [max]="50"  [title]="'unemployment'" [placeholder]="unemployment" (onSave)="setValue($event)"></ndv-edit>                    
     </div>
     <div>
          <h5>High School Graduation Rate:</h5>           
          <ndv-edit [permission]="allowed()" [min]="2" [max]="50"  [title]="'highSchoolGraduationRate'" [placeholder]="highSchoolGraduationRate" (onSave)="setValue($event)"></ndv-edit>                    
     </div>
     <div>
          <h5>College Graduation Rate:</h5>           
          <ndv-edit [permission]="allowed()" [min]="2" [max]="50"  [title]="'collegeGraduationRate'" [placeholder]="collegeGraduationRate" (onSave)="setValue($event)"></ndv-edit>                    
     </div>

   </div>  
   </ng-template> -->
