
<div class="col-xs-12 post"> 
	<div class="col-xs-2">
		<app-banner class="smTagImg" [imageUrl]="'assets/images/yeoman.png'" [height]="50" [width]="50"></app-banner>
		<div>{{post.userId}}</div>
	</div>
	<div class="col-xs-6 postDetail">
		<div class="postText">
			{{post.postText}}
		</div>

		<div class="postAction">
			<button type="button" class="btn btn-primary" (click)="comment()">Comment</button>
			<button *ngIf="!post.likedByCurrentUser" type="button" class="btn btn-primary glyphicon glyphicon-thumbs-up" (click)="likePost()">Like</button>
			<button *ngIf="post.likedByCurrentUser" type="button" class="btn btn-primary glyphicon glyphicon-heart"></button>
		</div>

		<app-newpost [parentPost]="post" *ngIf="commentPost" (postEvent)="postEvent()"></app-newpost>

	</div>
</div>