
<div class="dashboard-caption-wrap">
										
    <ul class="list">
        <li class="manage-list-row clearfix">
            <div class="job-info">
                <div class="job-img" [routerLink]="['/user', post.entityId]">
                    <img [src]="profileSmImage" class="attachment-thumbnail" alt="Academy Pro Theme">
                </div>
                <h3 class="job-name"><a class="job_name_tag" href="#" [routerLink]="['/user', post.entityId]">{{post.entityId}}</a></h3>
                    <small class="job-sallery"><i class="ti-time"></i>{{post['lastModifiedDate'] | dateFormatPipe}}</small>
                <div class="job-details">
                    <p *ngIf="post && post['containsText']" (click)="tagUsersRedirectTo($event)" [innerHTML]="postText">
                        <!-- <p class="card-text" >
                        </p> -->
                    </p>
                    <!-- <p class="msg-pad">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
                    text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only 
                    five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    
                    <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
                    <p *ngIf="post && post['containsImage']"><img [src]="postImage"></p>
                </div>
            </div>
            <div class="row post-card-footer"><a href="javascript:void(0);" class="col card-link post-footer-btn text-center post-active">
            <i aria-hidden="true" class="ti-heart custom-size"></i><span>Like(1)</span>  </a>
            <a class="col card-link post-footer-btn text-center" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="ti-comment-alt custom-size"></i><span> Comment(0) </span> </a>
            <a class="col card-link post-footer-btn text-center" href="javascript:void(0);"><i class="ti-share custom-size"></i><span>Share(0)</span></a>
            </div>
            <ul class="comment-section collapse" id="collapseExample">
                <li class="commment-box">
                    <div class="comment-avatar">
                        <img src="assets/img/can-1.png" class="attachment-thumbnail" alt="Academy Pro Theme">
                    </div>
                    <div class="commemnt-text">
                        <div class="commenter-name"><p><a href="#"><b>Danial Rechi</b></a> <span><a href="#">@Raja Ram</a></span></p></div>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop</p>
                    <div class="comment-like">
                        <a href="#"><i class="ti-heart custom-size"></i> Like(1)</a>
                        <a href="#"><i class="ti-share custom-size"></i> Reply(0) </a>
                    </div>
                    </div>
                    <ul class="expandible">
                        <li class="sub-commment">
                            <div class="comment-avatar">
                        <img src="assets/img/can-1.png" class="attachment-thumbnail" alt="Academy Pro Theme">
                    </div>
                    <div class="commemnt-text">
                        <div class="commenter-name"><p><a href="#"><b>Danial Rechi</b></a> <span><a href="#">@Raja Ram</a></span></p></div>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop</p>
                    <div class="comment-like">
                        <a href="#"><i class="ti-heart custom-size"></i> Like(1)</a>
                        <a href="#"><i class="ti-share custom-size"></i> Reply(0) </a>
                    </div>
                    </div>
                        </li>
                        <li class="sub-commment">
                            <div class="comment-avatar">
                        <img src="assets/img/can-1.png" class="attachment-thumbnail" alt="Academy Pro Theme">
                    </div>
                    <div class="commemnt-text">
                        <div class="commenter-name"><p><a href="#"><b>Danial Rechi</b></a> <span><a href="#">@Raja Ram</a></span></p></div>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop</p>
                    <div class="comment-like">
                        <a href="#"><i class="ti-heart custom-size"></i> Like(1)</a>
                        <a href="#"><i class="ti-share custom-size"></i> Reply(0) </a>
                    </div>
                    </div>
                        </li>
                        <li class="sub-commment">
                            <div class="comment-avatar">
                        <img src="assets/img/can-1.png" class="attachment-thumbnail" alt="Academy Pro Theme">
                    </div>
                    <div class="commemnt-text">
                        <div class="commenter-name"><p><a href="#"><b>Danial Rechi</b></a> <span><a href="#">@Raja Ram</a></span></p></div>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop</p>
                    <div class="comment-like">
                        <a href="#"><i class="ti-heart custom-size"></i> Like(1)</a>
                        <a href="#"><i class="ti-share custom-size"></i> Reply(0) </a>
                    </div>
                    </div>
                        </li>
                    </ul>
                </li>
                <li class="commment-box">
                    <div class="comment-avatar">
                        <img src="assets/img/can-1.png" class="attachment-thumbnail" alt="Academy Pro Theme">
                    </div>
                    <div class="commemnt-text">
                        <div class="commenter-name"><p><a href="#"><b>Danial Rechi</b></a> <span><a href="#">@Raja Ram</a></span></p></div>
                        <p> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                    and more recently with desktop</p>
                    <div class="comment-like">
                        <a href="#"><i class="ti-heart custom-size"></i> Like(1)</a>
                        <a href="#"><i class="ti-share custom-size"></i> Reply(0) </a>
                    </div>
                    </div>
                </li>
            </ul>
        </li>
        
   
    </ul>
    
    
</div>