.fileContainer {
  color: #d8d8d8;
  font-size: 11px;
  margin: 0 0 0 5px;
  position: relative;
  text-transform: capitalize;
}
.fileContainer [type=file], .fileContainer [type=checkbox] {
  cursor: pointer;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.new-postbox {
  display: inline-block;
  width: 100%;
}
.new-postbox > figure {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
  width: 10.4%;
}

.newpst-input {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  width: 100%;
}

.newpst-input > form {
  display: inline-block;
  width: 100%;
}
.newpst-input textarea {
  float: left;
  width: 100%;
}
.attachments {
  border: 1px solid #eee;
  display: block;
  padding: 10px;
  text-align: right;
  border-top: 0;
  background: #fff;
}

.attachments > ul {
  list-style: outside none none;
  margin-bottom: 0;
  padding-left: 0;
}

.attachments li {
  display: inline-block;
  margin-left: 5px;
}

textarea {
  border: 1px solid #eeeeee;
  border-radius: 6px 6px 0 0;
  padding: 10px;
  width: 100%;
  border-bottom: 0;
}

form button {
  border: medium none;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  padding: 3px 10px;
}

.attachments .fileContainer [type="file"] {
  right: 6px;
  top: -18px;
  width: 20px;
}

.row-offcanvas {
  position: relative;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.row-offcanvas-left.active {
  left: 33%;
}

.row-offcanvas-left.active .sidebar-offcanvas {
  left: -33%;
  position: absolute;
  top: 0;
  width: 33%;
  margin-left: 5px;
}

#sidebar, #sidebar a, #sidebar-footer a {
  padding-left: 3px;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }

  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}
.delete-image{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  border: none !important;
  background: none !important;
}
.char-icon{
  font-size: 18px;
  font-style: initial;
  cursor: pointer;
}
.image-upload-container{
  border: 1px solid rgba(0,0,0,0.54);
  border-radius: 5px;
  width:152px;
}
.video-upload-container{
  border: 1px solid rgba(0,0,0,0.54);
  border-radius: 5px;
  width:min-content;
}
.file-upload-error{
  color: red;
  font-size: 12px;
  float: left;
}
.image-upload{
  padding: 0px 15px 15px 15px;
}


/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 300px;
  position: absolute;
  z-index: 1;
  background-color: aquamarine;
}

.tagged-users{
  background-color: #D6DBDF;
  border: 1px solid #868393;
  border-radius: 5px;
}
#postContent{
  height: 100px;
  border: 1px solid rgba(0,0,0,0.14);
  border-radius: 5px;
  overflow: auto;
}
#postContent[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555; 
}
/* 
img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
} */

#myMenu li img {
  padding: 12px;
  text-decoration: none;
  color: black;
}

#myMenu li:hover {
  background-color: #eee;
}
