<!-- <table class="table">
  <tbody class="box-shadow">
  <tr *ngIf="office.isCurrent">
    <td colspan="2" class="text-center">
      <span class="badge badge-pill badge-primary">Current:</span>
    </td>
    <td *ngIf="inEditMode">
      <a href="javascript:void(0);" class="lg-fa float-right" (click)="open(content, office)">
          <i class="fa fa-pencil-square-o"></i>
      </a>
    </td>
  </tr>
  <tr *ngIf="!office.isCurrent && inEditMode">
    <td>
    </td>
    <td>
      <a href="javascript:void(0);" class="lg-fa float-right" (click)="open(content, office)">
          <i class="fa fa-pencil-square-o"></i>
      </a>
    </td>
  </tr>
  <tr class="info" *ngFor="let displayProperty of displayProperties">
    <td>{{displayProperty.displayLabel}}
    </td>
    <td>{{office[displayProperty.propId]}}</td>
  </tr> 
  </tbody>
</table> -->
<div class="container">
    <div class="card-media" >
    <div class="card-media-body">
      <span class="subtle date-time"  *ngFor="let displayProperty of displayProperties">
        <span *ngIf="displayProperty.propId == 'fax' && office[displayProperty.propId]"><i class="fa fa-fax"></i></span>
        <span *ngIf="displayProperty.propId == 'phone' && office[displayProperty.propId]"><i class="fa fa-phone"></i></span>
        <span *ngIf="displayProperty.propId == 'address' && office[displayProperty.propId]"><i class="fa fa-address-card"></i></span>
        <span *ngIf="displayProperty.propId == 'email' && office[displayProperty.propId]"><i class="fa fa-envelope"></i></span>
            {{office[displayProperty.propId]}}
      </span>
      <div class="card-media-body-supporting-bottom">
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Office</h4>
      <!-- Close the Office modal-->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="officeForm"> 
            <div class="form-group row" *ngFor="let displayProperty of displayProperties">
              <label for="{{displayProperty.propId}}">{{displayProperty.displayLabel}}</label>
              <div *ngIf="displayProperty.type === 'text'" class="input-group">
                  <input *ngIf="office" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control" placeholder="{{office[displayProperty.propId]}}">
                  <input *ngIf="!office" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control">

              </div>
              <div *ngIf="displayProperty.type === 'date'" class="input-group">
                <input type='date' *ngIf="office" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control" placeholder="{{office[displayProperty.propId]}}">
                <input type='date' *ngIf="!office" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control">
              </div>
              
            </div> 
            <!--
            <div>
              <label for="addtionalInfo">Additional Information:</label>
              <ckeditor id="addtionalInfo" class="form-control" [formControlName]="editorData"></ckeditor>
              <ckeditor id="addtionalInfo" (change)="onChange($event)" [ngModel]="editorData" (ngModelChange)="editorData= $event"></ckeditor>
              
              <p>{{editorData}}</p>
            </div>
          -->                  
      </form>
  </div>
  <!-- Save office information -->
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="saveProfile();modal.close('Save click')">Save</button>
  </div>
</ng-template>