<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card">

        <header class="card-header">
          <h4 class="card-title mt-2">Create a new page</h4>
        </header>

        <article class="card-body">

          <div class="row">

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <button class="btn-1" (click)="loadcreatepage($event,'district')">
                <span>
                <i class="fa fa-map" aria-hidden="true"></i>
                  <p class="create-page-title">
                      District
                  </p>
              </span>
                <p>
                  District is an area representation such as State Legislative District, Congressional District, School District.
                <p>
              </button>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <button class="btn-1" (click)="loadcreatepage($event,'legislator')">
                <span>
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                  <p class="create-page-title">
                      Legislator
                  </p>
              </span>
                <p>
                  People representative and member of a legislative body who makes laws especially for a political unit.
                <p>
              </button>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <button class="btn-1" (click)="loadcreatepage($event,'party')">
                <span>
                <i class="fa fa-flag" aria-hidden="true"></i>
                  <p class="create-page-title">
                      Political Party
                  </p>
              </span>
                <p>
                  A political party is an organized group of people who have the same ideology.
                <p>
              </button>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <button class="btn-1" (click)="loadcreatepage($event,'group')">
                <span>
                <i class="fa fa-users" aria-hidden="true"></i>
                  <p class="create-page-title">
                      Group
                  </p>
              </span>
                <p>
                  A Group of anything such as Committee, NGO, HOA.
                <p>
              </button>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

