<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 followers-list-start">
            <ul class="list-group pmd-list pmd-card-list">
                <li class="list-group-item d-flex">
                    <figure (click)="loadUser()" class="customize-position-image">
                        <img [src]="profileSmImage"
                             alt="Place image title" width="40" height="40"
                             *ngIf="!isImageLoading">
                    </figure>
                    <div class="media-body customize-position-image">
                        <h6 class="pmd-list-title">
                            <a [routerLink]="['/user', username]" title="">{{username}}</a>
                        </h6>
                        <!--<button *ngIf="loggedUser.username != user.username" type="button" [class]="followCntrlCSS"
                                (click)="followEntity()">
                            <span [class]="followStatusCSS"></span>{{followCntrlLabel}}
                        </button>
                        <p class="pmd-list-subtitle">

                        </p>-->
                    </div>
                    <!--<div class="custom-control custom-checkbox pmd-checkbox">
                        <input class="custom-control-input" type="checkbox" value="" id="defaultCheck15" checked>
                        <label class="custom-control-label" for="defaultCheck15">
                        </label>
                    </div>-->
                </li>
            </ul>
        </div>
    </div>
</div>
<br/>
