.media-body {
    position: relative;
    left: 20px;
}

.pmd-list-title {
    position: relative;
    top: 5px;
}

a {
    color: #000;
}

.content {
    position: relative;
}

.customize-position-image {
    position: relative;
    top: 7px;
}

li {
    list-style: none !important;
}
