
<div class="container">
  <div class="card-media" >
    <div class="card-media-body">
        <a href="javascript:void(0);" *ngIf="isProfileInEditMode" class="lg-fa float-right" (click)="open(content, biodata)">
            <i class="fa fa-pencil-square-o"></i>
        </a>
    
        <span  *ngFor="let displayProperty of displayProperties">


          <div class="subtle" *ngIf="displayProperty.propId !== 'gender' && displayProperty.propId !== 'firstName' && displayProperty.propId !== 'lastName'">
            <i class="fa fa-envelope" *ngIf="displayProperty.propId == 'emailId' && biodata[displayProperty.propId]"></i>
            <i class="fa fa-mobile" *ngIf="displayProperty.propId == 'phone' && biodata[displayProperty.propId]"></i>
            <i class="fa fa-fax" *ngIf="displayProperty.propId == 'fax' && biodata[displayProperty.propId]"></i>
            <i class="fa fa-calendar" *ngIf="displayProperty.propId == 'birthDate' && biodata[displayProperty.propId]"></i>
            <i class="fa fa-map-pin" *ngIf="displayProperty.propId == 'address' && biodata[displayProperty.propId]"></i>

             {{biodata[displayProperty.propId]}}
          </div>

          <span class="subtle" *ngIf="displayProperty.propId === 'firstName' || displayProperty.propId === 'lastName'">
            <strong>{{biodata[displayProperty.propId]}} </strong>
          </span>  
        </span>
        

          <div class="card-media-body-supporting-bottom">
          </div>

        </div>
      </div>
    </div>
  

<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Biodata</h4>
      <!-- Close the Bio modal-->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="bioEditForm"> 
            <div class="form-group row" *ngFor="let displayProperty of displayProperties">
              <label for="{{displayProperty.propId}}">{{displayProperty.displayLabel}}</label>
              <div *ngIf="displayProperty.type === 'text'" class="input-group">
                  <input *ngIf="biodata" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control" placeholder="{{biodata[displayProperty.propId]}}">
                  <input *ngIf="!biodata" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control">

              </div>
              
              <div *ngIf="displayProperty.type === 'date'" class="input-group">
                <input type='date' *ngIf="biodata" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control" placeholder="{{biodata[displayProperty.propId]}}">
                <input type='date' *ngIf="!biodata" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control">
              </div>

              <div *ngIf="displayProperty.type === 'address'" class="input-group">
                
                <app-g-address-search (setAddress)="getAddress($event)" adressType="geocode" [autocompleteInput]=biodata[displayProperty.propId] class="form-control"></app-g-address-search>
                <!--
                <i class="ti-location-pin"></i>
                
                <input *ngIf="biodata" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control" placeholder="{{biodata[displayProperty.propId]}}">
                <input *ngIf="!biodata" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control">
                -->
              </div>  
            </div> 
      </form>
  </div>
  <!-- Save Bio information -->
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="saveProfile();modal.close('Save click')">Save</button>
  </div>
</ng-template>
