<div class="wrapper">
    <nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i class="fa fa-bars"></i></button>
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" class="logo logo-scrolled" alt=""></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="#"><i class="fa fa-rss"></i> News</a></li>
                    <li><a href="#"><i class="fa fa-user"></i> Circle</a></li>
                    <li><a href="#"><i class="fa fa-search"></i>Find Representatives</a></li>
                    <li><a href="#"><i class="fa fa-link"></i>Connections</a></li>
                    <li><a href="#"><i class="ti-power-off"></i>Logout</a></li>
                    <li class="active">
                        <!-- <input type="text" class="form-control" placeholder="Search Legislator, Person, District, Party..."> -->
                        <app-gps-global-search   from="commonSearch" (valueSelect)='selectEvent($event)' category="all" [inputvalue]=""></app-gps-global-search>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                    <li><a href="login.html"><i class="fa fa-plus"></i>Create Page</a></li>
                    <li class="left-br"><a href="javascript:void(0)" data-toggle="modal" data-target="#signup" class="signin" (click)="hideNav();route('login')">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <div class="avatar-bg">
		<div class="container-fluid">
			<div class="dashboard-avatar">
			 <div class="col-md-12">	
				<div class="text-right vedit-profile">
				    <a href="#" class="btn btn-light manage-btn"><i class="fa fa-camera"></i> Edit Cover Photo </a>
				</div>	
				<div class="profile-details">
				    <div class="profile-width">
				<div class="dashboard-avatar-thumb">
					<img src="assets/img/can-2.png" class="img-avater" alt="" />
					<a class="edit-icon" href="#"><i class="fa fa-camera"></i></a>
				</div>
				<div class="profile-name">
                    <h4>User 4A</h4>
                    <span>user4a@gmail.com</span>
                    <div class="paid-candidate-box-extra">
						<ul>
							<li class="more-skill"><span>129</span> Followers</li>
							<li class="more-skill"><span>239</span> Following</li>
						</ul>
					</div>
                </div>
                <div class="dropdown add-drop">
                              <a class="drop-add more-skill bg-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add Section <i class="fa fa-angle-down"></i>
                              </a>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Drop Down 1</a>
                                <a class="dropdown-item" href="#">Drop Down 2</a>
                                <li class="dropdown-submenu">
                                <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                 <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                                 <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                                </ul>
                               </li>
                              </div>
                            </div>
				</div>
				</div>
				<div class="dashboard-avatar-text col-md-6 col-md-offset-3">
					<div class="bio-intro box">
					    <a class="edit-bio-intro edit" href="#"><i class="ti-pencil"></i></a>
					    <a class="edit-bio-intro save" href="#"><i class="ti-save-alt"></i></a>
					    <p class="addReadMore showlesscontent text click-rmv">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard 
					    Dummy Text Ever Since The 1500s, When An Unknown Printer Took A Galley Of Type And Scrambled It To Make A Type 
					    Specimen Book. It Has Survived Not Only Five Centuries, But Also The Leap Into Electronic Typesetting, Remaining 
					    Essentially Unchanged.</p>
					</div>
				</div>
				</div>
			</div>
		</div>
</div> -->


<router-outlet></router-outlet>


