.active {
    color: #028ece !important;
}

body {
    padding-top: 90px;
    /* background: #edf2f6 !important; */
    background: #fff !important;
}

.nav-link, .text-center {
    text-align: center;
}

a {
    cursor: pointer;
}
.search-field{
    width: 40%;
    margin-top: 1%;
}

.ng-autocomplete input{
    /* width: 400px;
    display: block; */
    width: 100%;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.createpage-option{
    display: block;
}
.dropdown{
  margin-left: 10px;
}

.mylogo {
    height: 50px;
    width: 205px;
    background-size: 200px 23px;
    background-image: url('../assets/images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar-expand-lg {
    border-bottom: 1px solid #ccc;
    background: #fff !important;
}

.container-fluid {
    /*max-width: 1100px;*/
    width: 97%;
    margin: 0 auto;
}

.container-custom {
    position: relative;
    width: 75%;
    margin: 0px auto;
}

.ui-block {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    margin-bottom: 15px;
}

.post {
    position: relative;
    padding: 25px;
    border-bottom: 1px solid #e6ecf5;
}

.card {
    border: none !important;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0 !important;
}

.post__author {
    margin-bottom: 20px;
}

.post__author img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 12px;
}

.avatar-profile img {
    width: 35px;
    height: 34px;
    border-radius: 100%;
    overflow: hidden;
    margin-left: 12px;
}

.inline-items > * {
    display: inline-block;
    vertical-align: middle;
}

.post .author-date a {
    font-weight: 700;
}

.post__author .more {
    float: right;
    font-size: 16px;
    margin-right: 20px;
}

.more a {
    color: #777;
}

button.btn.btn-light {
    position: absolute;
    background: transparent;
    border: none;
    height: 38px;
}

.myform-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-indent: 22px;
}

.mybtn {
    background: #b92b27 !important;
    border-color: #b92b27 !important;
}

placeholder {
    text-indent: 102;
}

/*ul {
    list-style: none;
    display:inline;
}
.post-additional-info {
    padding: 20px 0 0;
    border-top: 1px solid #e6ecf5;
}*/
.post-additional-info > * {
    margin-right: 15px;
}

.left-ul li {
    display: inline-block;
}

.m-link a {
    color: #333;
}

.m-link a:hover {
    color: #333;
}

.m-link h4 {
    font-weight: bold;
}

.social-icons {
    float: right;
}

h6.my-4 {
    margin: 13px;
}

div#v-pills-tab a {
    border-radius: 0;
    color: #666;
    font-size: 13px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #b92b27 !important;
}

.nav-pills .nav-link:hover {
    background: #edf2f6;
}

.btn-light {
    border-color: #dae0e5 !important;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1201px !important;
    }
}

@media screen and (max-width: 559px) {
    .container-custom {
        width: 90%;
    }

    ul.myul li {
        vertical-align: middle;
        float: left;
    }
}
