<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand mylogo" routerLink="/"></a>
        <button class="navbar-toggler" type="button" (click)="isCollaped = !isCollaped"
                [attr.aria-expanded]="!isCollaped" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul *ngIf="isMobile" class="navbar-nav">
             <li class="avatar-profile d-sm-block " [ngbPopover]="popContent">
                <a href="javascript:void(0)">
                    <img src="assets/images/avatars/avatar.png" class="img-responsive"/>
                </a>
            </li>
        </ul>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollaped">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': news}"  routerLink="news" routerLinkActive="active"><i class="fa fa-rss"></i>News</a>
              </li>

                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': circle}"  routerLink="circle" routerLinkActive="active">
                      <i class="fa fa-user"></i>
                      <div>Circle</div>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [ngClass]="{'active': searchLegislator}"  routerLink="searchLegislator" routerLinkActive="active"><i class="fa fa-search"></i>Find Representatives</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': request}"  routerLink="request" routerLinkActive="active"><i class="fa fa-link"></i>Connections</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto d-lg-none d-xl-none">
                <li class="nav-item">
                    <a class="nav-link" (click)="route('login')"><i class="fa fa-sign-in"></i>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="route('register')"><i class="fa fa-registered"></i>Register</a>
                </li>

            </ul>
 
              <div class="ng-autocomplete common-search" *ngIf="!isMobile">
                <ng-autocomplete
                  [data]="searchUsers"
                  (inputChanged) = "onChangeSearch($event)"
                  (selected)='selectEvent($event)'
                  [searchKeyword]="keyword"
                  placeHolder="Search Legislator, Person, District, Party..."
                  historyIdentifier="searchUsers"
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                  <div class="item">
                    <!--
                    <img src="{{item.photoUrl}}" height="25">
                    -->
                    <span [innerHTML]="item.full_name"></span>
                    <small></small>
                  </div>
                </ng-template>
              
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>

           
          <!-- <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn add dropdown-toggle">
              <span class="glyphicon glyphicon-plus"></span>
              Create Page
            </button>

            <ul dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem">
                <a class="dropdown-item" (click)="createPage('District')">Create District</a>
              </li>

              <li role="menuitem">
                <a class="dropdown-item" (click)="createPage('Legislator')">Create Legislator</a>
              </li>                

              <li role="menuitem">
                <a class="dropdown-item" (click)="createPage('User')">Create User</a>
              </li>                              

              <li role="menuitem">
                <a class="dropdown-item" (click)="createPage('Party')">Create Party</a>
              </li>                                            
            </ul>

          </div>    -->
          
          <div class="dropdown create-page-button-custom-position">
            <button (click)="route('createpageoptions')" class="btn btn-md btn-secondary btn-custom-horizondal fa fa-plus" type="button" (click)="iscreateOptEnabled =  !iscreateOptEnabled">
              Create Page
            </button>
            <div class="dropdown-menu" [ngClass]="{'createpage-option':iscreateOptEnabled==true}" aria-labelledby="dropdownMenuButton" id="createpagemenu">
              <a class="dropdown-item" href="#" (click)="loadcreatepage($event,'district')">Create District</a>
              <a class="dropdown-item" href="#" (click)="loadcreatepage($event,'legislator')">Create Legislator</a>
              <a class="dropdown-item" href="#" (click)="loadcreatepage($event,'party')">Create Party</a>
            </div>
          </div>
            
            <ul *ngIf="!isMobile" class="navbar-nav ml-auto">
                <li class="avatar-profile d-none d-sm-block " [ngbPopover]="popContent">
                    <a href="javascript:void(0)"><img src="assets/images/avatars/avatar.png"
                                                      class="img-responsive"/></a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <ng-template #popContent>
                <button *ngIf="!isUserLogged" class="btn btn-outline-warning my-2 my-sm-0" type="submit"
                        (click)="route('register')">Register
                </button>
                <button *ngIf="!isUserLogged" class="btn btn-outline-success my-2 my-sm-0" type="submit"
                        (click)="route('login')">Login
                </button>
                <button *ngIf="isUserLogged" class="btn btn-outline-warning   my-2 my-sm-0 <!--list-group-item-->" type="submit"
                        (click)="loadUser()">View Profile
                </button>
                <button *ngIf="isUserLogged" class="btn btn-outline-success my-2 my-sm-0" type="submit"
                        (click)="logout()">Logout
                </button>
            </ng-template>
        </form>
    </div>
</nav>
<body>
<div class="container-fluid">
    <div class="ng-autocomplete common-search" *ngIf="isMobile">
        <ng-autocomplete
          [data]="searchUsers"
          (inputChanged) = "onChangeSearch($event)"
          (selected)='selectEvent($event)'
          [searchKeyword]="keyword"
          placeHolder="Search Legislator, Person, District, Party..."
          historyIdentifier="searchUsers"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <div class="item">
            <!--
            <img src="{{item.photoUrl}}" height="25">
            -->
            <span [innerHTML]="item.full_name"></span>
            <small></small>
          </div>
        </ng-template>
      
        <ng-template #notFoundTemplate let-notFound>
          <div [innerHTML]="notFound"></div>
        </ng-template>
      </div>
    <div class="row">

        <div class="d-lg-none d-xl-none col-xs-12">
            <!--<a href="javascript:void(0)" class="mx-auto d-flex justify-content-center flex-wrap">
                <img src="assets/images/avatars/avatar.png" class="img-responsive text-center mx-auto d-flex justify-content-center flex-wrap"/>
            </a>-->
        </div>


        <div class="col-lg-2 ">
            <!--<div class=" aff-right">
                <div class="ui-block">
                    <h6 class="my-4">Recent</h6>
                    <hr>
                    <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        &lt;!&ndash;<a class="nav-link active" data-toggle="pill" href="javascript:void(0);"> Top Stories</a>
                        <a class="nav-link" data-toggle="pill" href="javascript:void(0);">New Questions</a>
                        <a class="nav-link" data-toggle="pill" href="javascript:void(0);">Bookmarked Answers</a>
                        <a class="nav-link" data-toggle="pill" href="javascript:void(0);">Links</a>
                        <a class="nav-link" data-toggle="pill" href="javascript:void(0);">Payment Gateways</a>
                        <a class="nav-link" data-toggle="pill" href="javascript:void(0);">Education</a>
                        <a class="nav-link" data-toggle="pill" href="javascript:void(0);">E-commerce</a>
                        <a class="nav-link" data-toggle="pill" href="javascript:void(0);">Android Applications</a>&ndash;&gt;
                    </div>
                </div>
            </div>

            <div class=" aff-right">
                <div class="ui-block">
                    <h6 class="my-4" >Activities</h6>
                    <hr>
                    <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">

                    </div>
                </div>
            </div>-->
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-8">
            <app-alert [dismissOnTimeout]=3000></app-alert>
            <router-outlet></router-outlet>

        </div> 
        <!-- /.col-lg-6 -->
        <!--col-lg-3-->
        <div class="col-lg-2">
            <!--<div class=" q-wid">
                <div class="ui-block">
                    <h6 class="my-4">Today's News and Views</h6>
                    <hr>
                    <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" aria-orientation="vertical">
                        &lt;!&ndash;<a class="nav-link" data-toggle="pill" href="javascript:void(0);"> Upvote 5 more good
                            answers</a>
                        <a class="nav-link" data-toggle="pill" href="javascript:void(0);">Ask your first question</a>
                        <a class="nav-link" data-toggle="pill" href="javascript:void(0);">Add 3 credentials</a>
                        <a class="nav-link" data-toggle="pill" href="javascript:void(0);">Answer a question</a>&ndash;&gt;
                    </div>
                </div>
            </div>

            <div class=" q-wid">
                <div class="ui-block">
                    <h6 class="my-4">Followers</h6>
                    <hr>
                    <div class="nav flex-column nav-pills nav-stacked" id="v-pills-tab" aria-orientation="vertical">

                    </div>
                </div>
            </div>-->
        </div>
        <!-- /.col-lg-3 -->
    </div>
</div>
<!-- /.container -->
<!-- The Modal -->
</body>
