<!--
  https://bootsnipp.com/snippets/7nV1l
-->
<div class="container">
  <div class="row userMain">
          <div class="userBlock">
              <div class="backgrounImg">
                  <img src="https://preview.ibb.co/miQjb7/photography4.jpg">
              </div>
              <div class="userImg">
                  <img [src]="user.photoUrl">
              </div>
              <div class="userDescription">
                  <h5>{{user.full_name}}</h5>
                  <p>@{{user.username}}</p>
                 
                  
                   <div class="followrs">
                      <span class="number">{{followersCount}}</span>
                       <span>Followers</span>
                   </div>
                   
                   <a [routerLink]="">
                       <span class="badge badge-pill badge-primary pointer"  (click)="followEntity()">{{followCntrlLabel}}</span>

                   </a>
              </div>
             
          </div>
    </div>
  </div>  