<!--
  https://bootsnipp.com/snippets/7nV1l
-->
<div class="container">
  <div class="row userMain">
      <div class="col-md-3 col-sm-4">
          <div class="userBlock">
              <div class="backgrounImg">
                  <img src="https://preview.ibb.co/miQjb7/photography4.jpg">
              </div>
              <div class="userImg">
                  <img src="https://image.ibb.co/es4AG7/author4.jpg">
              </div>
              <div class="userDescription">
                  <h5>Tom Smith</h5>
                  <p>Newyork, USA</p>
                 
                  
                   <div class="followrs">
                      <span class="number">137</span>
                       <span>Followers</span>
                   </div>
                   <a href="">
                       <button class="btn">Follow</button>
                   </a>
              </div>
             
          </div>
      </div>
    </div>
  </div>  