
<div class="news-div">
 <div class="card tab-card">
    <div class="card-header tab-card-header">
     
      <ul class="nav nav-tabs card-header-tabs li-justify-content-center">
        <li class="nav-item border-right col-xs-3">
          <a class="nav-link search-legislator-navpills cursor-hand" (click)="loadConnections('approvalPending')">
            <span [ngClass]="pillCSSAPVar">
              Approval Pending 
              <span class="badge badge-light"> {{approvalPendingCount}} </span>
            </span>
          </a>
        </li>
        <li class="nav-item border-right col-xs-3">
          <a class="nav-link search-legislator-navpills cursor-hand" (click)="loadConnections('requestSent')">
            <span [ngClass]="pillCSSRSVar">
              Request Sent
              <span class="badge badge-light"> {{requestSentCount}} </span>
            </span>
          </a>
        </li>
        <li class="nav-item border-right col-xs-3">
          <a class="nav-link search-legislator-navpills cursor-hand" (click)="loadConnections('followers')">
            <span [ngClass]="pillCSSFollowersVar">
              Followers
              <span class="badge badge-light"> {{followersCount}} </span>
            </span>
          </a>
        </li>
        <li class="nav-item col-xs-3">
          <a class="nav-link search-legislator-navpills cursor-hand" (click)="loadConnections('followings')">
            <span [ngClass]="pillCSSFollowingsVar">
              Followings 
              <span class="badge badge-light"> {{followingsCount}} </span>
            </span>
          </a>
        </li>
        </ul>
    </div>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
        <div class="row">
          <app-connectionrequest [username]=entityId [relationStatus]=action *ngFor="let entityId of connectionsEntityId" class="col-lg-4 col-md-4 col-sm-6 col-xs-12 custom-resize-card"></app-connectionrequest>
        </div>
      </div>

    </div>
  </div>
</div>