/*
Rating Stars credit goes to: https://codepen.io/jamesbarnett/pen/vlpkh
*/
fieldset, label {
  margin: 0;
  padding: 0;
}

.rating {
  border: none;
  margin-right: auto;
  margin-top: -1px;
  position: relative;
  z-index: 1;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 3px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #028ece;
  float: right;
}

.hover-effects-in-search-legislator:hover,.hover-effects-in-search-legislator > fieldset > label, .card > .active {
  background-color: #028ece;
  color: #ffffff;
}
.hover-effects-in-search-legislator > fieldset > label{
  background-color: transparent;
}
.hover-effects-in-search-legislator > p > a{
  color: #2f2ff1 !important;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #028ece;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #028ece;
}

.snip1344 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  height: 450px;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  background-color: #141414;

}

.snip1344 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1344 .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.2;
  -webkit-filter: grayscale(100%) blur(10px);
  filter: grayscale(100%) blur(10px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.snip1344 figcaption {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}

.snip1344 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.snip1344 h3 {
  margin: 0 0 5px;
  font-weight: 400;
}

.snip1344 p {
  letter-spacing: 0.4px;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(246, 247, 248);
  margin-bottom: 13px;
  margin-top: 5px;
  font-weight: 400
}

.snip1344 h3 span {
  display: block;
  font-size: 0.6em;
  color: #f39c12;
  opacity: 0.75;
}

.snip1344 i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  opacity: 0.65;
}

.snip1344 a {
  text-decoration: none;
}

.snip1344 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1344:hover .background,
.snip1344.hover .background {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


/* FontAwesome for working BootSnippet :> */

#team {
  background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #028ece;
  border-color: #028ece;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #028ece;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #028ece !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.img-custom-size-legislator {
  height: 200px;
  width: auto;
}

button {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0, 0, 0, 0.09);
  /*background: transparent;*/
}

button:hover {
  /*background: rgba(0,0,0,0.09);*/
  background: transparent;
}

span {
  display: block;
  padding: 25px 80px;
}

button::before, button::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: rgb(2, 142, 206);
}

span::before, span::after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: rgb(2, 142, 206);
}

button:hover::before, button:hover::after {
  width: 100%;
}

button:hover span::before, button:hover span::after {
  height: 100%;
}

/*----- button 3 -----*/
.btn-3::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}

.btn-3 span::after {
  transition-delay: 0.4s;
  right: 0;
  bottom: 0
}

button > p {
  color: rgb(2, 142, 206);
}

button > span {
  color: black;
}

.create-page-title {
  position: relative;
  top: 20px;
}

button > span > .fa {
  font-size: 60px;
}

button > em {
  font-size: 15px;
}

button {
  padding-bottom: 20px;
}

.btn-3::before {
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}

.btn-3 span::before {
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.btn-3:hover::after {
  transition-delay: 0s;
}

.btn-3:hover span::after {
  transition-delay: 0.2s;
}

.btn-3:hover::before {
  transition-delay: 0.4s;
}

.btn-3:hover span::before {
  transition-delay: 0.6s;
}

/*----- button 1 -----*/
.btn-1::before, .btn-1::after {
  transition-delay: 0.2s;
}

.btn-1 span::before, .btn-1 span::after {
  transition-delay: 0s;
}

.btn-1::before {
  right: 0;
  top: 0;
}

.btn-1::after {
  left: 0;
  bottom: 0;
}

.btn-1 span::before {
  left: 0;
  top: 0;
}

.btn-1 span::after {
  right: 0;
  bottom: 0;
}

.btn-1:hover::before, .btn-1:hover::after {
  transition-delay: 0s;
}

.btn-1:hover span::before, .btn-1:hover span::after {
  transition-delay: 0.2s;
}

/*--- Button 2 -------*/


.btn-2::before, .btn-2::after {
  transition-delay: 0s;
}

.btn-2 span::before, .btn-2 span::after {
  transition-delay: 0.2s;
}

.btn-2::before {
  right: 0;
  top: 0;
}

.btn-2::after {
  left: 0;
  bottom: 0;
}

.btn-2 span::before {
  left: 0;
  top: 0;
}

.btn-2 span::after {
  right: 0;
  bottom: 0;
}

.btn-2:hover::before, .btn-2:hover::after {
  transition-delay: 0.2s;
}

.btn-2:hover span::before, .btn-2:hover span::after {
  transition-delay: 0s;
}


/*----- button 3 -----*/
.btn-3::after {
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}

.btn-3 span::after {
  transition-delay: 0.4s;
  right: 0;
  bottom: 0
}

.btn-3::before {
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}

.btn-3 span::before {
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.btn-3:hover::after {
  transition-delay: 0s;
}

.btn-3:hover span::after {
  transition-delay: 0.2s;
}

.btn-3:hover::before {
  transition-delay: 0.4s;
}

.btn-3:hover span::before {
  transition-delay: 0.6s;
}

/*----- button 4 -----*/
.btn-4::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.btn-4 span::after {
  right: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.btn-4::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

.btn-4 span::before {
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}

/*----- button 5 -----*/
.btn-5::after {
  left: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

.btn-5 span::after {
  right: 0;
  top: 0;
  transition-duration: 0.4s;
}

.btn-5::before {
  right: 0;
  top: 0;
  transition-duration: 0.4s;
}

.btn-5 span::before {
  left: 0;
  bottom: 0;
  transition-duration: 0.4s;
}

/*----- button 6 -----*/
.btn-6::before {
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}

.btn-6::after {
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}

.btn-6 span::before {
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}

.btn-6 span::after {
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}

.btn-6:hover::before, .btn-6:hover::after {
  left: 0;
}

.btn-6:hover span::before, .btn-6:hover span::after {
  top: 0;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;

  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Shutter Out Horizontal */
.hvr-shutter-out-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-shutter-out-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #028ece;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
  color: #fff;
}

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Fix bootstrap */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
  background: none;
  color: #fff;
}

.navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:active {
  background: none;
  color: #555;
}

a {
  text-decoration: none;
}

.cursor-default {
  cursor: default;
}
