

.legisBoundary{
    border: 1px solid lightblue;
    border-radius: 5px;
    margin: 10px;
  }

  .legisBoundary:hover{
    border: 2px solid lightblue;
  }


  .constitutionTop{
    padding: .1px 1.5em;
    background: #f5f2f0;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
  
  .constitutionTop{
    padding-bottom: 5px;
  }

  .constitutionHeader,
  .constitutionDescription{
    border: 1px solid lightblue;
    border-radius: 5px;
  }

  .constitutionProfile .banner{
      max-width: 100%;
      height: auto;
      width:auto/9;
  }

  .selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;

  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    border-radius: 1px;
  }
  .heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .heroes .text {
    position: relative;

  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }


