<!-- <div class="avatar-bg">
  <div class="container-fluid">
    <div class="dashboard-avatar">
     <div class="col-md-12">	 -->
      <div class="text-right vedit-profile">
          <a href="#" class="btn btn-light manage-btn"><i class="fa fa-camera"></i> Edit Cover Photo </a>
      </div>	
      <div class="profile-details">
          <div class="profile-width">
      <div class="dashboard-avatar-thumb">
        <img src="assets/img/can-2.png" class="img-avater" alt="" />
        <a class="edit-icon" href="#"><i class="fa fa-camera"></i></a>
      </div>
      <div class="profile-name">
                  <h4>User 4A</h4>
                  <span>user4a@gmail.com</span>
                  <div class="paid-candidate-box-extra">
          <ul>
            <li class="more-skill"><span>129</span> Followers</li>
            <li class="more-skill"><span>239</span> Following</li>
          </ul>
        </div>
              </div>
              <div class="dropdown add-drop">
                            <a class="drop-add more-skill bg-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Add Section <i class="fa fa-angle-down"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Drop Down 1</a>
                              <a class="dropdown-item" href="#">Drop Down 2</a>
                              <li class="dropdown-submenu">
                              <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                               <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                               <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                              </ul>
                             </li>
                            </div>
                          </div>
      </div>
      </div>
      <div class="dashboard-avatar-text col-md-6 col-md-offset-3">
        <div class="bio-intro box">
            <a class="edit-bio-intro edit" href="#"><i class="ti-pencil"></i></a>
            <a class="edit-bio-intro save" href="#"><i class="ti-save-alt"></i></a>
            <p class="addReadMore showlesscontent text click-rmv">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard 
            Dummy Text Ever Since The 1500s, When An Unknown Printer Took A Galley Of Type And Scrambled It To Make A Type 
            Specimen Book. It Has Survived Not Only Five Centuries, But Also The Leap Into Electronic Typesetting, Remaining 
            Essentially Unchanged.</p>
        </div>
      </div>
      <!-- </div>
    </div>
  </div>
</div>		 -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- General Detail Start -->
    <section class="dashboard-wrap">
      <div class="container-fluid">
        <div class="row">
        
          <!-- Sidebar Wrap -->
          <div class="col-lg-3 col-md-4">
            <div class="side-dashboard">
              <div class="dashboard-menu">
                <ul>
                  <li><a href="activities.html"><i class="ti-rss"></i> <span class="link-text">Activities</span> </a></li>
                  <li><a href="biodata.html"><i class="ti-user"></i> <span class="link-text">Biodata </span> </a></li>
                  <li><a href="managed-by.html"><i class="ti-flag-alt-2"></i> <span class="link-text">Managed by </span></a></li>
                  <li><a href="settings.html" class="active"><i class="ti-settings"></i> <span class="link-text">Settings </span></a></li>
                  <li class="dropdown desktop-view"><a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"><i class="ti-menu-alt"></i> <span class="link-text"> More </span></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="left: 0px">
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                      </ul>
                  </li>
                  <li class="dropup clearfix mobile-view"><a href="#" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="false"><i class="ti-menu-alt"></i> <span class="link-text"> More </span></a>
                  <ul class="dropdown-menu drop-up" role="menu" aria-labelledby="dropdownMenu2">
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                      </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          <!-- Content Wrap -->
          <div class="col-lg-9 col-md-8">
            <div class="dashboard-body">
              <div class="dashboard-caption">
              
                <div class="dashboard-caption-header">
                  <div class="col-md-6"><h4><i class="ti-id-badge"></i>Settings</h4></div>
                  <div class="col-md-6 text-right"><a href="#" class="btn btn-blue manage-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="ti-pencil-alt"></i></a></div>
                </div>
                
                <div class="dashboard-caption-wrap">
                <h4>Access Restriction</h4> <br>
                <span class="custom-checkbox"> <input type="checkbox" id="aw"> <label for="aw">Public[OFF] / Private[ON]</label></span>
                  
                </div>
                
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </section>
    <!-- General Detail End -->