<div class="container main-secction">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 image-section">
            <img src="assets/images/user-banner1.jpg">
        </div>
        <div class="row user-left-part">
            <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                <div class="row ">
                    <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                        <img [src]="profileSmImage" class="rounded-circle">
                    </div>
                    <!--
                    <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                        <button id="btn-contact" (click)="clearModal()" data-toggle="modal" data-target="#contact" class="btn btn-success btn-block follow">Contactarme</button>
                        <button class="btn btn-warning btn-block">Descargar Curriculum</button>
                    </div>
                    -->
                    <div class="row user-detail-row">
                        <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                            <div class="border"></div>
                            <p>FOLLOWER</p>
                            <span>320</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                <div class="row profile-right-section-row">
                    <div class="col-md-12 profile-header">
                        <div class="row">
                            <div class="col-md-6 col-sm-4 col-xs-4 profile-header-section1 pull-left">
                                <h1>{{firstName}} {{lastName}}</h1>
                                <!--<h5>[Position]</h5>-->
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-4 profile-header-section1 text-right pull-rigth">
                                <div class="border">
                                    <p>FOLLOWERS</p>
                                    <span>{{followersCount}}</span>
                                </div>
                            </div>
                            <div *ngIf="isUserLogged()"
                                 class="col-md-3 col-sm-4 col-xs-4 profile-header-section1 text-right pull-rigth">
                                <button *ngIf="following" type="button" class="btn btn-success glyphicon glyphicon-ok">
                                    Following
                                </button>
                                <button *ngIf="requestedToFollow" type="button"
                                        class="btn btn-success glyphicon glyphicon-ok">Request sent
                                </button>
                                <button *ngIf="followRequestRejected" type="button"
                                        class="btn btn-success glyphicon glyphicon-ok">Request Rejected
                                </button>
                                <button *ngIf="!following && !requestedToFollow && !followRequestRejected" type="button"
                                        class="btn btn-primary" (click)="followEntity()">Follow
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
