<!--if inEditMode==true, show add/edit image option -->
<div class="profile-banner" style="background-image: url('../../../../assets/images/user-banner1.jpg');">
    <div class="col-sm-3 avatar-container">
        <!--<img [src]="profileSmImage" class="twPc-avatarImg img-circle profile-avatar"-->
        <!--*ngIf="!isImageLoading" alt="User avatar">-->
        <!--<div class="card edit-photo" *ngIf="inEditMode">-->


        <!--<i class="fa fa-camera-retro"></i>
        <label class="fileContainer">
            Add/Change Profile Picture
            <input type="file" (change)="onProfileSmImageSelected($event)"/>
        </label>-->


        <!--<div class="p-image">-->
        <!--<i class="fa fa-camera upload-button"></i>-->
        <!--<input class="file-upload" type="file" accept="image/*"/>-->
        <!--</div>-->


        <div class="container">
            <div class="row">
                <div class="col-sm-2 imgUp">
                    <img [src]="profileSmImage" class="twPc-avatarImg img-circle profile-avatar" *ngIf="!isImageLoading" alt="User avatar">
                    <label class="btn btn-primary edit-photo" *ngIf="inEditMode">
                        <i class="fa fa-camera-retro"></i>
                        <input type="file" class="uploadFile img" value="Upload Photo"
                                     style="width: 0px;height: 0px;overflow: hidden;" (change)="onProfileSmImageSelected($event)">
                    </label>
                </div><!-- col-2  -->
            </div><!-- row -->
        </div><!-- container -->
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-sm-4">
            <!-- Begin user profile -->
            <div class="text-center user-profile-2" style="margin-top:120px">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div *ngIf="externalUser">
                            <h4>
                                <b>
                                    {{biodata.full_name}}
                                </b>
                            </h4>
                            <h5>
                                <span *ngIf="isEditParty == false && biodata.party" class="profile-pills">
                                    <a  class="padding-pills" [routerLink]="['/party', biodata.party]" (mouseenter)="changeParty=true" (mouseout)="changeParty=false">
                                        {{biodata.party}}
                                    </a>
                                </span>

                                <button type="button" class="edit-button" [ngClass]="{'displayNone':changeParty == false}"  (click)="toggleEditParty()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <!-- <input  *ngIf="isEditParty == true" [ngModel]="biodata.party" type="text" /> -->
                                <div *ngIf="isEditParty == true" class="ng-autocomplete party-search">
                                    <ng-autocomplete
                                      [(ngModel)]="editPartyInput"
                                      [data]="searchUsers"
                                      (inputChanged) = "onChangeSearch($event)"
                                      [searchKeyword]="keywordParty"
                                      [itemTemplate]="itemTemplate"
                                      [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>
                                    <button class="save-button" type="button" (click)="toggleEditParty()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>


                                    <ng-template #itemTemplate let-item>
                                      <div class="item">
                                        <img src="{{item.photoUrl}}" height="25">
                                        <span [innerHTML]="item.firstName"></span>
                                        <small></small>
                                      </div>
                                    </ng-template>
                                  
                                    <ng-template #notFoundTemplate let-notFound>
                                      <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                  </div>




                            </h5>
                            <h5>
                                <span *ngIf="isEditDistrict == false" class="profile-pills">
                                    <a class="padding-pills" [routerLink]="['../../group']"  (mouseenter)="changeDistrict=true" (mouseout)="changeDistrict=false">{{biodata.district}}</a>
                                </span>
                                <button type="button" class="edit-button" [ngClass]="{'displayNone':changeDistrict == false}"  (click)="toggleEditDistrict()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <!-- <input  *ngIf="isEditParty == true" [ngModel]="biodata.party" type="text" /> -->
                                <div *ngIf="isEditDistrict == true" class="ng-autocomplete party-search">
                                    <ng-autocomplete
                                      [(ngModel)]="editDistrictInput"
                                      [data]="searchUsers"
                                      (inputChanged) = "onChangeSearch($event)"
                                      [searchKeyword]="keywordDistrict"
                                      [itemTemplate]="itemTemplate"
                                      [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>
                                    <button class="save-button" type="button" (click)="toggleEditDistrict()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>


                                    <ng-template #itemTemplate let-item>
                                      <div class="item">
                                        <img src="{{item.photoUrl}}" height="25">
                                        <span [innerHTML]="item.firstName"></span>
                                        <small></small>
                                      </div>
                                    </ng-template>
                                  
                                    <ng-template #notFoundTemplate let-notFound>
                                      <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                  </div>


                                  <span *ngIf="isEditChamber == false" class="profile-pills margin-pills">
                                        <a  class="padding-pills" [routerLink]="['/chamber', biodata.chamber]" (mouseenter)="changeChamber=true" (mouseout)="changeChamber=false">{{biodata.chamber}}</a>
                                  </span>
                                  <button type="button" class="edit-button" [ngClass]="{'displayNone':changeChamber == false}"  (click)="toggleEditChamber()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                                  <div *ngIf="isEditChamber == true" class="ng-autocomplete party-search">
                                    <ng-autocomplete
                                      [(ngModel)]="editChamberInput"
                                      [data]="searchUsers"
                                      (inputChanged) = "onChangeSearch($event)"
                                      [searchKeyword]="keywordChamber"
                                      [itemTemplate]="itemTemplate"
                                      [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>
                                    <button class="save-button" type="button" (click)="toggleEditChamber()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>


                                    <ng-template #itemTemplate let-item>
                                      <div class="item">
                                        <img src="{{item.photoUrl}}" height="25">
                                        <span [innerHTML]="item.firstName"></span>
                                        <small></small>
                                      </div>
                                    </ng-template>
                                  
                                    <ng-template #notFoundTemplate let-notFound>
                                      <div [innerHTML]="notFound"></div>
                                    </ng-template>
                                  </div>

                                  <span *ngIf="isEditState == false" class="profile-pills">
                                     <a  class="padding-pills" [routerLink]="['/state', biodata.state]" (mouseenter)="changeState=true" (mouseout)="changeState=false">{{biodata.state}}</a>
                                  </span>

                                  <button type="button" class="edit-button" [ngClass]="{'displayNone':changeState == false}"  (click)="toggleEditState()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                                  <div *ngIf="isEditState == true" class="ng-autocomplete party-search">
                                    <ng-autocomplete
                                      [(ngModel)]="editStateInput"
                                      [data]="searchUsers"
                                      (inputChanged) = "onChangeSearch($event)"
                                      [searchKeyword]="keywordState"
                                      [itemTemplate]="itemTemplate"
                                      [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>
                                    <button class="save-button" type="button" (click)="toggleEditState()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

                                  <ng-template #itemTemplate let-item>
                                    <div class="item">
                                      <img src="{{item.photoUrl}}" height="25">
                                      <span [innerHTML]="item.firstName"></span>
                                      <small></small>
                                    </div>
                                  </ng-template>
                                
                                  <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                  </ng-template>
                                </div>
                                  
                            </h5>
                        </div>    
                        <div *ngIf="!externalUser">
                            <h4>
                                <b>
                                    {{biodata.first_name}} {{biodata.last_name}}
                                </b>
                            </h4>
                        </div>                            
                    </li>
                    <li class="list-group-item pointer" *ngIf="!isSelfProfile">
                        <span class="badge pointer" [class]="followCntrlCSS" (click)="followEntity()"> 
                            {{followCntrlLabel}}
                        </span>
                    </li>
                                        
                    <li class="list-group-item pointer"
                        [ngClass]="{ 'active': followersActiveCss, 'in-active': !followersActiveCss}">
            <span class="badge pointer" [class]="followCntrlCSS" (click)="Followers()"> 
              {{followersCount}} Followers
            </span>
                    </li>
                    <li class="list-group-item pointer"
                        [ngClass]="{ 'active': followingsActiveCss, 'in-active': !followingsActiveCss}">
            <span class="badge pointer" [class]="followCntrlCSS" (click)="Followings()"> 
              {{followingsCount}} Following
            </span>
                    </li>
                    <!--                    <li class="list-group-item pointer" (click)="FollowingCount()"
                                            [ngClass]="{ 'active': folow, 'in-active': !folow}">
                                            <span class="badge">245</span>
                                            <span class="">Following</span>
                                        </li>
                                        -->
                    <li class="list-group-item pointer"
                        (click)="Activities()" [ngClass]="{ 'active': activitiesData, 'in-active': !activitiesData}">
                        <span class="pointer">My Posts</span> 
                    </li>

                    <li class="list-group-item pointer"
                        (click)="Profiles()" [ngClass]="{ 'active': profileData, 'in-active': !profileData}">
                        <span class="pointer">Profile</span> 
                    </li>
                </ul>

            </div><!-- End div .box-info -->
            <!-- Begin user profile -->
        </div><!-- End div .col-sm-4 -->

        <div class="col-sm-8">
            <div class="widget widget-tabbed">
                <!-- Nav tab -->

                <div class="gap gray-bg">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row cols-reverse" id="page-contents">
                                    <!-- sidebar -->
                                    <!-- Main stage area -->
                                    <div class="col-lg-12 cols-item2">
                                        <div id="ActivityCollapse" [ngbCollapse]="isActivityCollapsed">
                                            <app-post [type]="user" [userId]="profileUserId" [disableNewPost]=true></app-post>
                                        </div>
                                        <div id="FollowersCollapse" [ngbCollapse]="isFollowersCollapsed"
                                             class="widget stick-widget">
                                            <ul class="followers">
                                                <li *ngFor="let followingUser of followers">
                                                    <app-usercard1 [user]=followingUser></app-usercard1>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="FollowingsCollapse" [ngbCollapse]="isFollowingsCollapsed"
                                                class="widget stick-widget">
                                            <ul class="followers">
                                                <li *ngFor="let followingUser of followings">
                                                    <app-usercard1 [user]=followingUser></app-usercard1>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="ProfileCollapse" [ngbCollapse]="isProfileCollapsed">
                                            <div class="card card-nav-tabs">
                                                <div class="card-header-1 card-header-primary">
                                                    <div class="nav-tabs-navigation">
                                                        <div class="nav-tabs-wrapper">
                                                            <ul class="nav nav-tabs justify-content-center nav-pills nav-pills nav-fill"
                                                                data-tabs="tabs">
                                                                <li class="nav-item"
                                                                    *ngFor="let profileTemplate of profilesTemplates">
                                                                    <div class="row">
                                                                        <div class="col-sm-10">    
                                                                            <a class="nav-link text-black-50" data-toggle="tab"
                                                                            [routerLink]=""
                                                                            (click)="loadTemplate(profileTemplate.profileTemplateId)"
                                                                            *ngIf="profileTemplate.profileTemplateId" [ngClass]="{'active-tab':profileTemplate.profileTemplateId == activeTemplate}">
                                                                                <i class="material-icons">{{profileTemplate.profileIcon}}</i>
                                                                                {{profileTemplate.name}}
                                                                                <!--{{profileTemplate.profileTemplateId}}-->
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <button *ngIf="isProfileInEditMode()" class="delete-image" type="button" (click)="deleteProfileData(profileTemplate)"> <i class="fa fa-times" aria-hidden="true"></i></button>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li *ngIf="isProfileInEditMode()" class="nav-item">
                                                                    <div ngbDropdown class="d-inline-block">
                                                                        <button class="btn btn-outline-primary btn-xs"
                                                                                id="dropdownAddSection"
                                                                                ngbDropdownToggle>
                                                                            <!--Add Section-->
                                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                                        </button>
                                                                        <div ngbDropdownMenu
                                                                             aria-labelledby="dropdownAddSection">
                                                                            <button class="dropdown-item"
                                                                                    *ngFor="let profileTemplate of availableProfileTemplates"
                                                                                    (click)="addProfileData(profileTemplate)">
                                                                                {{profileTemplate.name}}
                                                                            </button> 
                                                                        </div>
                                                                    </div> 
                                                                </li>
                                                                <li *ngIf="isUserLogged()" class="nav-item">
                                                                    <div>
                                                                        <button type="button" *ngIf="isProfileEditable()" class="btn btn-primary btn-xs profile-edit-btn-custom-position" (click)="editProfile()">
                                                                            <!--{{editLabel}}-->
                                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                        </button>
                                                                        <button type="button" *ngIf="isProfileInEditMode()" class="btn btn-primary btn-xs profile-edit-btn-custom-position" (click)="saveProfile()">
                                                                            <!--{{Save}}-->
                                                                            <i class="fa fa-save" aria-hidden="true"></i>
                                                                        </button>
                                                                        <button type="button"
                                                                                *ngIf="isProfileInEditMode()"
                                                                                class="btn btn-primary btn-danger"
                                                                                (click)="cancelEditProfile()">
                                                                            <!--Cancel Edit-->
                                                                            <i class="fa fa-times" aria-hidden="true"></i>
                                                                        </button>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-body ">
                                                    <div class="tab-content text-center">
                                                        <div class="tab-pane active" id="templateType">
                                                            <app-usertemplate [type]="templateType"></app-usertemplate>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--HORIZONTAL ITEMS FOR PROFILES / ADD SECTION IN EDIT MODE-->
                                        </div>
                                    </div><!-- centerl meta -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End nav tab -->

                <!-- Tab panes -->
                <div class="tab-content">


                    <!-- Tab timeline -->
                    <div class="tab-pane animated active fadeInRight" id="my-timeline">
                        <div class="user-profile-content">

                            <!-- Begin timeline -->

                            <!-- End timeline -->
                        </div><!-- End div .user-profile-content -->
                    </div><!-- End div .tab-pane -->
                    <!-- End Tab timeline -->
                    <!-- Tab about -->
                    <!-- End Tab user messages -->
                </div><!-- End div .tab-content -->
            </div><!-- End div .box-info -->
        </div>
    </div>
</div>
