<div class="avatar-bg">
    <div class="container-fluid">
        <div class="dashboard-avatar">
         <div class="col-md-12">	
            <div class="text-right vedit-profile">
   <!--
                <a href="#" class="btn btn-light manage-btn"><i class="fa fa-camera"></i> Edit Cover Photo </a>
                <input type="file" class="file-input" (change)="onProfileSmImageSelected($event)">
-->             
                <label for="actual-btn btn" class="btn btn-light manage-btn">Edit Cover Photo<i class="fa fa-camera"></i>
                    <input type="file" class="file-input" id="actual-btn btn"/>
                </label>

            </div>	
            <div class="profile-details">

              <div class="profile-width">
                <div>
                    <img [src]="profileSmImage" class="dashboard-avatar-thumb" *ngIf="!isImageLoading" alt="User avatar">

                    <label for="profilePic" class="edit-icon pointer"><i class="fa fa-camera"></i>
                        <input type="file" class="file-input" id="profilePic" (change)="onProfileSmImageSelected($event)"/>
                    </label>

 <!--
                    <input type="file" class="file-input" (change)="onProfileSmImageSelected($event)" #fileUpload>
                    <a class="edit-icon" href="#" onclick="return false;fileUpload.click();"><i class="fa fa-camera"></i></a>
                      
                    <label class="btn btn-primary edit-photo">
                        <i class="fa fa-camera-retro"></i>
                        <input type="file" class="uploadFile img" value="Upload Photo"
                                      style="width: 0px;height: 0px;overflow: hidden;" (change)="onProfileSmImageSelected($event)">
                    </label>
                -->

                </div>

                <!-- <div *ngIf="isProfilePrivate" class="private-profile-label" title="This is a private profile">
                    <span  class="badge badge-pill badge-primary badge-danger" >
                    <i class="fa fa-lock" style="font-size: 25px" aria-hidden="true"></i>
                    </span>
                </div> -->

                <div class="profile-name">
                    <h4>{{userData.displayName}}</h4> 
                    <div>{{userData.username}}</div>
                     <!--yuvara-->
                    <div *ngIf="category === 'LEGISLATURE' || category === 'legislature' || category === 'EXECUTIVE'  || category === 'executive' || category === 'municipalities'" class="paid-candidate-box-extra">
                        <ul>
                            <!-- Role-Begin -->
                            <li *ngIf="userData.role && userData.role.type">


                                <span  *ngIf="!isEditChamber" class="profile-pills margin-pills">
                                    <a class="padding-pills" [routerLink]="['/user', userData.role.type]">{{userData.role.type}}</a>
        
                                </span>

                                <app-gps-global-search *ngIf="isEditChamber && getPropertyDataType('type') === 'entity'" placeholder="Chamber" from="user" category="type" (valueSave)='saveChamber($event)' [inputvalue]="editChamberInput"></app-gps-global-search>

                        
                                <div *ngIf="isEditChamber && getPropertyDataType('type') === 'text'">
                                    <input [(ngModel)]="userData.role.type" type="text" />
                                    <button class="save-button-input" type="button" (click)="toggleEditChamber()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                </div>
                            </li>
                            <!-- Role-end -->
                    


                            <!-- DISTRICT-begin -->
                            <li *ngIf="userData.role && userData.role.district">
                                <span *ngIf="!isEditDistrict" class="profile-pills margin-pills">
                                    <a class="padding-pills" [routerLink]="['/user', userData.role.district]">{{userData.role.district}}</a>
                                    
                                </span>
                                <app-gps-global-search *ngIf="isEditDistrict && getPropertyDataType('district') === 'entity'" placeholder="District"  from="user" category="district" (valueSave)='saveDistrict($event)' [inputvalue]="editDistrictInput"></app-gps-global-search>
                                
                                <div *ngIf="isEditDistrict && getPropertyDataType('district') === 'text'">
                                    <input [(ngModel)]="userData.role.district" type="text" />
                                    <button class="save-button-input" type="button" (click)="toggleEditDistrict()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                </div>
                            </li>  
                            <!-- DISTRICT-end -->



                            <!-- STATE-begin -->
                            <li *ngIf="userData.role && userData.role.state">  
                            <div  *ngIf="!isEditState" class="profile-pills margin-pills">
                                <a class="padding-pills" [routerLink]="['/user', userData.role.state]">{{userData.role.state | uppercase}}</a>
                                
                            </div>

                                <app-gps-global-search *ngIf="isEditState && getPropertyDataType('state') === 'entity'" placeholder="State"  from="user" category="state" (valueSave)='saveState($event)' [inputvalue]="editStateInput"></app-gps-global-search>

                            
                                <div *ngIf="isEditState && getPropertyDataType('state') === 'text'">
                                    <input [(ngModel)]="userData.role.state" type="text" />
                                    <button class="save-button-input" type="button" (click)="toggleEditState()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                </div>
                            </li>    
                            <!-- STATE-end -->

                            <!-- PARTY-begin -->
                            <li *ngIf="userData.role && userData.role.party">  
                                <span *ngIf="!isEditParty" class="profile-pills margin-pills">
                                    <a class="padding-pills" [routerLink]="['/user', userData.role.party]">{{userData.role.party}}</a>
                                
                                </span>
                                <app-gps-global-search *ngIf="isEditParty && getPropertyDataType('party') === 'entity'" placeholder="Party"  from="user" category="party" (valueSave)='saveParty($event)' [inputvalue]="editPartyInput"></app-gps-global-search>
                            
                                <div *ngIf="isEditParty == true && getPropertyDataType('party') === 'text'">
                                    <input [(ngModel)]="userData.role.party" type="text" />
                                    <button class="save-button-input" type="button" (click)="toggleEditParty()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                </div>
                            </li>  
                            <!-- PARTY-end -->
                        </ul>
                    </div>
                    <!--yuvara-->
                    <div class="paid-candidate-box-extra">
                        <ul>
                            <li *ngIf="!isSelfProfile" class="badge badge-pill badge-primary pointer" (click)="followEntity()">{{followCntrlLabel}}</li>
                            <li class="more-skill pointer" (click)="Followers()"><span>{{followersCount}}</span> Followers</li>
                            <li class="more-skill pointer" (click)="Followings()"><span>{{followingsCount}}</span> Following</li>
                            <li *ngIf="!isSelfProfile && !isInCircle" class="badge badge-pill badge-dark pointer" (click)="add2Circle()">Add to Circle<i class="fa fa-star-o"></i></li>
                            <li *ngIf="!isSelfProfile && isInCircle" class="badge badge-pill badge-warning pointer" (click)="removeFromCircle()">In Circle<i class="fa fa-star-o"></i></li>           
                            <li *ngIf="!isSelfProfile && managedBy && managedBy.length > -1" class="vseparator"></li>
                            <li *ngIf="!isSelfProfile && managedBy && managedBy.length > -1" class="badge badge-pill badge-success pointer" (click)="managedByUsers()">Members &nbsp;<span class="badge badge-light">{{managedBy.length}}</span>                                    
                            <li  class="badge badge-pill badge-success pointer" >
                                <span mat-icon-button class="circle-button" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                    <mat-icon class="edit-profile-icon">more_horiz</mat-icon>
                                    <!-- <i class="material-icons"> more_horiz</i> -->
    
                                </span>                            <!-- </li>                                      -->

                              <mat-menu #menu="matMenu">
                                <button mat-menu-item>
                                  <span>Edit Profile</span>
                                </button>
                                <button mat-menu-item>
                                  <!-- <mat-icon>voicemail</mat-icon> -->
                                  <span>Edit Profile photo</span>
                                </button>
                                <button mat-menu-item>
                                  <!-- <mat-icon>notifications_off</mat-icon> -->
                                  <span>Disable alerts</span>
                                </button>
                              </mat-menu>
                        </li>
                        </ul>
                    </div>
                    <div *ngIf="isProfilePrivate" class="private-profile-label" title="This is a private profile">
                        <span  class="badge badge-pill badge-primary badge-danger" >
                        <i class="fa fa-lock" style="font-size: 25px" aria-hidden="true"></i>
                        </span>
                    </div>
                   
                </div>

                <!--*ngIf="isProfileInEditMode()" -->
                <div ngbDropdown class="d-inline-block nav-item add-drop">
                  <button class="btn btn-outline-primary btn-xs"
                          id="dropdownAddSection"
                          ngbDropdownToggle>
                      Add Section<i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                  <div ngbDropdownMenu
                       aria-labelledby="dropdownAddSection" id="dropdownAddSection">
                      <button class="dropdown-item"
                              *ngFor="let profileTemplate of availableProfileTemplates"
                              (click)="addProfileData(profileTemplate)">
                          {{profileTemplate.name}}
                      </button>
                  </div>
                </div>

              </div>
            </div>
            <div class="dashboard-avatar-text col-md-6 col-md-offset-3" (mouseenter)="isEditDescIcon=true" (mouseleave)="isEditDescIcon=false">
                <div class="bio-intro box" *ngIf="!isEditDesc">
                    <span class="edit-bio-intro edit" *ngIf="isEditDescIcon" (click)="isEditDesc=true"><mat-icon>edit</mat-icon></span>
                    <p class="expclpse" [class.show]="showLessDescription">{{userData.description}}</p>
                    <span *ngIf="showDescriptionSlider" (click)="showLessDescription = !showLessDescription" class="showMore">{{ showLessDescription ? 'Show less': '... Show more' }}</span>
                </div>

                <div class="bio-intro box" *ngIf="isEditDesc">
                    <span class="edit-bio-intro edit" (click)="isEditDesc=false"><mat-icon>done_outline</mat-icon></span>
                    <textarea class="form-control form-control-lg mb-3" rows="3" placeholder="Large textarea">{{userData.description}}</textarea>
                </div>
                
            </div>
          </div>
        </div>
    </div>
    </div>
    <!-- General Detail Start -->
        <section class="dashboard-wrap">
            <div class="container-fluid">
                <div class="row">
                
                    <!-- Sidebar Wrap -->
                    <div class="col-lg-3 col-md-4">
                        <div class="side-dashboard">
                            <div class="dashboard-menu">
                                <ul>
                                    <li (click)="showActivities()" class="list-group-item pointer" [ngClass]="{ 'active': activitiesData, 'in-active': !activitiesData}"><a href="#" onclick="return false;"><i class="ti ti-comment"></i> <span class="link-text">Activities</span> </a></li>
                                    <li (click)="showTwitterActivities()"  class="list-group-item pointer" [ngClass]="{ 'active': !isTwitterActivityCollapsed, 'in-active': isTwitterActivityCollapsed}"><a href="#" onclick="return false;"><i class="ti ti-twitter"></i> <span class="link-text">Twitter Feed</span> </a></li>
                                    <li *ngFor="let profileTemplate of profileTemplates" (click)="Profiles(profileTemplate.name);loadTemplate(profileTemplate.profileTemplateId)"  class="list-group-item pointer" [ngClass]="{ 'active': profileTemplate.profileTemplateId == activeTemplate && (!activitiesData && !managedByActive && !settings && isTwitterActivityCollapsed), 'in-active': profileTemplate.profileTemplateId != activeTemplate && (!activitiesData && !managedByActive && !settings && isTwitterActivityCollapsed)}">
                                        <a href="#" onclick="return false;">
                                        <i class="{{profileTemplate.profileIcon}}"></i> <span class="link-text">{{profileTemplate.name}}</span></a>
                                    </li>
                                    <li *ngIf="managedBy" (click)="managedByUsers()"  class="list-group-item pointer" [ngClass]="{ 'active': managedByActive, 'in-active': !managedByActive}"><a href="#" onclick="return false;"><i class="ti ti-user"></i> <span class="link-text">Managed by</span></a></li>
                                    <li *ngIf="isShowSettings" (click)="showSettings()" class="list-group-item pointer"
                                      [ngClass]="{ 'active': settings, 'in-active': !settings}"><a href="#" onclick="return false;"><i class="fa fa-cog"></i> <span class="link-text">Settings </span></a>
                                    </li>

                                  </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Content Wrap -->
                    <div class="col-lg-9 col-md-8" id="template-tabs">
                      <div class="widget-div">
                          <div class="widget widget-tabbed">
                              <!-- Nav tab -->
          
                              <div class="gap gray-bg">
                                  <div class="container-fluid">
                                      <div class="row">
                                          <div class="col-lg-12">
                                              <div class="row cols-reverse" id="page-contents">
                                                  <!-- sidebar -->
                                                  <!-- Main stage area -->
                                                  <div class="col-lg-12 cols-item2">
                                                      <div id="ActivityCollapse" *ngIf="isUserLogged()" [ngbCollapse]="isActivityCollapsed">
                                                          <app-post [userId]="profileUserId" [requestedBy]="loggedUser.username" [selfActivities]=true [disableNewPost]=true ></app-post>
                                                      </div>
                                                      <div id="ActivityCollapse" *ngIf="!isUserLogged()" [ngbCollapse]="isActivityCollapsed">
                                                          <ngb-alert type="primary" [dismissible]="false">
                                                            Please login to view the activies.
                                                          </ngb-alert>
                                                       </div>
          
                                                       <!--Twitter feed-->
                                                       <div id="TwitterCollapse" *ngIf="twitterHandleExist" [ngbCollapse]="isTwitterActivityCollapsed">                                                
                                                          <a class="twitter-timeline" href="{{twitterHandle}}">Tweets From Twitter</a>
                                                       </div>
                                                       <div id="TwitterCollapse" *ngIf="!twitterHandleExist" [ngbCollapse]="isTwitterActivityCollapsed">                                                
                                                          <small>Twitter feed not available.</small>
                                                       </div>
          
                                                      <div id="FollowersCollapse" [ngbCollapse]="isFollowersCollapsed"
                                                           class="widget stick-widget">
                                                              <div *ngFor="let followerUsername of followers">
                                                                  <app-usercard1 [username]=followerUsername></app-usercard1>
                                                              </div>
                                                      </div>
                                                      <div id="FollowingsCollapse" [ngbCollapse]="isFollowingsCollapsed"
                                                              class="widget stick-widget">
                                                              <div *ngFor="let followingUsername of followings">
                                                                  <app-usercard1 [username]=followingUsername></app-usercard1>
                                                              </div>
                                                      </div>
                                                      <div id="managedByCollapse" *ngIf="isUserLogged()" [ngbCollapse]="isManagedByCollapsed"
                                                      class="widget stick-widget">
                                                          <div *ngIf="isEditable">
                                                              <h6>Add Members:</h6>
                                                              <app-gps-global-search placeholder="User Name"  from="user" category="managedby" (valueSelect)='selectedUser($event)'></app-gps-global-search>
                                                          </div>    
          
                                                      <!-- <div class="ng-autocomplete managedby-search">
                                                          <ng-autocomplete
                                                            [(ngModel)]="searchUserManagedBy"
                                                            (selected)='addMember(searchUserManagedBy.username)'
                                                            [data]="searchUsers"
                                                            placeHolder="User Name"
                                                            (inputChanged) = "onChangeSearch($event)"
                                                            [searchKeyword]="keywordUser"
                                                            [itemTemplate]="itemTemplate"
                                                            [notFoundTemplate]="notFoundTemplate">
                                                          </ng-autocomplete>
          
                                  
                                                          <ng-template #itemTemplate let-item>
                                                            <div class="item">
                                                              <img src="{{item.photoUrl}}" height="25">
                                                              <span [innerHTML]="item.full_name"></span>
                                                              <small></small>
                                                            </div>
                                                          </ng-template>
                                  
                                                          <ng-template #notFoundTemplate let-notFound>
                                                            <div [innerHTML]="notFound"></div>
                                                          </ng-template>
                                                        </div> -->
          
                                                        <div class="row">
                                                          <div class="managedby-user-list col-lg-4 col-md-3 col-sm-6 col-xs-12 card-body legislator-box-shadow" *ngFor="let managedUsername of managedBy">
                                                            <app-usercard2 [username]="managedUsername" [manageMembers]="isEditable"></app-usercard2>
                                                            <div class="overlay">
                                                                <!-- <button class="delete-managedby-user" type="button" (click)="removeMember(username)"> <i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                                                              </div>
          
                                                          </div>
                                                        </div>
                                   
                                                     <!-- <ul class="followers">
                                                         <li *ngFor="let managed of managedBy" class="managedby-user-list">
                                                          <button class="delete-managedby-user" type="button" (click)="removeMember(managed.username)"> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                             <app-usercard1 [user]=managed></app-usercard1>
                                                         </li>
                                                     </ul> -->
                                                     </div>
                                                     <div id="managedByCollapse" *ngIf="!isUserLogged()" [ngbCollapse]="isManagedByCollapsed" class="widget stick-widget">
                                                       
                                                         <ngb-alert type="primary" [dismissible]="false">
                                                            Please login to view the members.
                                                          </ngb-alert>
                                                     </div>
          
                                                     <div id="setingsSection" *ngIf="isUserLogged()" [ngbCollapse]="isSettingsCollapsed" class="widget stick-widget">
                                                     <form [formGroup]="settingsForm">
                                                          <ul class="followers">
                                                                  <div class="form-row">
                                                                      <div class="col form-group">
                                                                        <label>Access Restriction</label>
                                                                        <div class="custom-control custom-switch">
                                                                          <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="accessRestriction" (change)="accessChange()">
                                                                          <label class="custom-control-label" for="customSwitch1">Public[OFF] / Private[ON]</label>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                          </ul>
                                                      </form>    
                                                      </div>
                                                      <div id="setingsSection" *ngIf="!isUserLogged()" [ngbCollapse]="isSettingsCollapsed" class="widget stick-widget">
                                                          
                                                          <ngb-alert type="primary" [dismissible]="false">
                                                            Please login to manage the settings.
                                                          </ngb-alert>
                                                      </div>
          
                                                      <div id="ProfileCollapse" [ngbCollapse]="isProfileCollapsed">
                                                          <div class="card card-nav-tabs">
                                                              <div class="card-header-1 card-header-primary"  id="myHeader">
                                                                <!--   <div class="nav-tabs-navigation">
                                                                      <div class="nav-tabs-wrapper">
                                                                          <ul class="nav nav-tabs justify-content-center nav-pills nav-pills nav-fill"
                                                                              data-tabs="tabs">
                                                                              <li class="nav-item"
                                                                                  *ngFor="let profileTemplate of profileTemplates">
                                                                                  <div>
                                                                                      <span>
                                                                                          <a class="nav-link template-tab text-black-50" data-toggle="tab"
                                                                                          [routerLink]=""
                                                                                          (click)="loadTemplate(profileTemplate.profileTemplateId)"
                                                                                          *ngIf="profileTemplate.profileTemplateId" [ngClass]="{'active-tab':profileTemplate.profileTemplateId == activeTemplate}">
                                                                                              <i class="material-icons">{{profileTemplate.profileIcon}}</i>
                                                                                              {{profileTemplate.name}}
                                                                                          </a>
                                                                                          <button *ngIf="isProfileInEditMode()" class="delete-image" type="button" (click)="deleteProfileData(profileTemplate)"> <i class="fa fa-times" aria-hidden="true"></i></button>
          
                                                                                      </span>
                                                                                  </div>
                                                                              </li>
                                                                              <li *ngIf="isProfileInEditMode()" class="nav-item">
                                                                                  <div ngbDropdown class="d-inline-block">
                                                                                      <button class="btn btn-outline-primary btn-xs"
                                                                                              id="dropdownAddSection"
                                                                                              ngbDropdownToggle>
                                                                                          <i class="fa fa-plus" aria-hidden="true"></i>
                                                                                      </button>
                                                                                      <div ngbDropdownMenu
                                                                                           aria-labelledby="dropdownAddSection">
                                                                                          <button class="dropdown-item"
                                                                                                  *ngFor="let profileTemplate of availableProfileTemplates"
                                                                                                  (click)="addProfileData(profileTemplate)">
                                                                                              {{profileTemplate.name}}
                                                                                          </button>
                                                                                      </div>
                                                                                  </div>
                                                                              </li>
                                                                          </ul>
                                                                      </div>
                                                                  </div> -->
                                                              </div>
          
                                                              <div class="card-body content">
                                                                  <div class="tab-content text-center">
                                                                      <div class="tab-pane active" id="templateType">
                                                                          <app-usertemplate [type]="templateType"></app-usertemplate>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <!--HORIZONTAL ITEMS FOR PROFILES / ADD SECTION IN EDIT MODE-->
                                                      </div>
                                                  </div><!-- centerl meta -->
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
          
                              <!-- End nav tab -->
          
                              <!-- Tab panes -->
                              <div class="tab-content">
          
          
                                  <!-- Tab timeline -->
                                  <div class="tab-pane animated active fadeInRight" id="my-timeline">
                                      <div class="user-profile-content">
          
                                          <!-- Begin timeline -->
          
                                          <!-- End timeline -->
                                      </div><!-- End div .user-profile-content -->
                                  </div><!-- End div .tab-pane -->
                                  <!-- End Tab timeline -->
                                  <!-- Tab about -->
                                  <!-- End Tab user messages -->
                              </div><!-- End div .tab-content -->
                          </div><!-- End div .box-info -->
                      </div>
                  </div>
                
                </div>
            </div>
        </section>
        <!-- General Detail End -->