<!--if inEditMode==true, show add/edit image option -->
<div class="profile-banner" style="background-image: url('../../../../assets/images/user-banner1.jpg');">
    <div class="col-sm-3 avatar-container">
        <!--<img [src]="profileSmImage" class="twPc-avatarImg img-circle profile-avatar"-->
        <!--*ngIf="!isImageLoading" alt="User avatar">-->
        <!--<div class="card edit-photo" *ngIf="inEditMode">-->


        <!--<i class="fa fa-camera-retro"></i>
        <label class="fileContainer">
            Add/Change Profile Picture
            <input type="file" (change)="onProfileSmImageSelected($event)"/>
        </label>-->


        <!--<div class="p-image">-->
        <!--<i class="fa fa-camera upload-button"></i>-->
        <!--<input class="file-upload" type="file" accept="image/*"/>-->
        <!--</div>-->


        <div class="container">
            <div class="row">
                <div class="col-sm-2 imgUp">
                    <img [src]="profileSmImage" class="twPc-avatarImg img-circle profile-avatar" *ngIf="!isImageLoading" alt="User avatar">
                    <label class="btn btn-primary edit-photo" *ngIf="inEditMode">
                        <i class="fa fa-camera-retro"></i>
                        <input type="file" class="uploadFile img" value="Upload Photo"
                                     style="width: 0px;height: 0px;overflow: hidden;" (change)="onProfileSmImageSelected($event)">
                    </label>
                </div><!-- col-2  -->
            </div><!-- row -->
        </div><!-- container -->
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-sm-4" title="This is a private profile">
          <div *ngIf="isProfilePrivate" class="private-profile-label">
          <span  class="badge badge-pill badge-primary" >
            <span  class="badge badge-pill badge-danger" >
            <i class="fa fa-lock" style="font-size: 25px" aria-hidden="true"></i>
            </span>
          </span>
          </div>
        </div><!-- End div .col-sm-4 -->

        <div class="col-sm-8">
            <div class="personal-info">
                <div *ngIf="entityType === 'LEGISLATOR' || entityType === 'LEGISLATORCONGRESS' || entityType === 'LEGISLATOROPENSTATE'">
                    <div>
                        <div *ngIf="!isEditDisplayname" class="fullname-display">
                            <b class="name-right">
                                {{biodata.full_name}}
                            </b>
                            <button *ngIf="isProfileInEditMode()" type="button" class="edit-button" (click)="toggleEditDisplayname()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </div>
                        <div *ngIf="isEditDisplayname" class="fullname-display">
                            <input type="text" class="input-text-biodata form-control" [(ngModel)]="biodata.full_name" type="text" placeholder="Display Name">
                            <!-- <input class="input-text-biodata formcontrol" [(ngModel)]="biodata.full_name" type="text" /> -->
                            <button class="save-button-input" type="button" (click)="toggleEditDisplayname()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                        </div>
                        <div class="common-profile-edit">
                            <button type="button" *ngIf="isProfileEditable()" class="btn btn-primary btn-xs profile-edit-btn-custom-position" (click)="editProfile()">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button>
                            <button type="button" *ngIf="isProfileInEditMode()" class="btn btn-primary btn-xs profile-edit-btn-custom-position" (click)="saveProfile()">
                                <i class="fa fa-save" aria-hidden="true"></i>
                            </button>
                            <button type="button"
                                    *ngIf="isProfileInEditMode()"
                                    class="btn btn-primary btn-danger profile-edit-cancel"
                                    (click)="cancelEditProfile()">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>

                            <div ngbDropdown  class="d-inline-block nav-item" *ngIf="isProfileInEditMode()">
                                <button class="btn btn-outline-primary btn-xs"
                                        id="dropdownAddSection"
                                        ngbDropdownToggle>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <div ngbDropdownMenu
                                     aria-labelledby="dropdownAddSection" id="dropdownAddSection">
                                    <button class="dropdown-item"
                                            *ngFor="let profileTemplate of availableProfileTemplates"
                                            (click)="addProfileData(profileTemplate)">
                                        {{profileTemplate.name}}
                                    </button>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div>
                        {{paramUsername}}
                    </div>
                    <h5>
                    <!-- CHAMBER-begin -->

                        <span  *ngIf="!isEditChamber" class="profile-pills margin-pills">
                            <a class="padding-pills" [routerLink]="['/user', biodata.chamber]">{{biodata.chamber}}</a>
                            <button *ngIf="isProfileInEditMode()" type="button" class="edit-button" (click)="toggleEditChamber()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </span>

                        <app-gps-global-search *ngIf="isEditChamber && getPropertyDataType('chamber') === 'entity'" placeholder="Chamber" from="user" userType="chamber" (valueSave)='saveChamber($event)' [inputvalue]="editChamberInput"></app-gps-global-search>

                      <!-- <div *ngIf="isEditChamber && getPropertyDataType('chamber') === 'entity'" class="ng-autocomplete party-search">
                        <ng-autocomplete
                          [(ngModel)]="editChamberInput"
                          [data]="searchUsers"
                          placeHolder="Chamber"
                          (inputChanged) = "onChangeSearch($event)"
                          [searchKeyword]="keywordChamber"
                          [itemTemplate]="itemTemplate"
                          [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                        <button class="save-button" type="button" (click)="toggleEditChamber()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>


                        <ng-template #itemTemplate let-item>
                          <div class="item">
                            <img src="{{item.photoUrl}}" height="25">
                            <span [innerHTML]="item.firstName"></span>
                            <small></small>
                          </div>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                          <div [innerHTML]="notFound"></div>
                        </ng-template>
                      </div> -->
                      <div *ngIf="isEditChamber && getPropertyDataType('chamber') === 'text'">
                        <input [(ngModel)]="biodata.chamber" type="text" />
                        <button class="save-button-input" type="button" (click)="toggleEditChamber()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                      </div>
                    <!-- CHAMBER-end -->
                    </h5>


                    <h5>
                    <!-- DISTRICT-begin -->
                        <span *ngIf="!isEditDistrict" class="profile-pills">
                            <a class="padding-pills" [routerLink]="['/user', biodata.district]">District {{biodata.district}}</a>
                            <button *ngIf="isProfileInEditMode()" type="button" class="edit-button" (click)="toggleEditDistrict()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </span>
                        <app-gps-global-search *ngIf="isEditDistrict && getPropertyDataType('district') === 'entity'" placeholder="District"  from="user" userType="district" (valueSave)='saveDistrict($event)' [inputvalue]="editDistrictInput"></app-gps-global-search>
                        <!-- <div *ngIf="isEditDistrict && getPropertyDataType('district') === 'entity'" class="ng-autocomplete party-search">
                            <ng-autocomplete
                              [(ngModel)]="editDistrictInput"
                              [data]="searchUsers"
                              placeHolder="District"
                              (inputChanged) = "onChangeSearch($event)"
                              [searchKeyword]="keywordDistrict"
                              [itemTemplate]="itemTemplate"
                              [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>
                            <button class="save-button" type="button" (click)="toggleEditDistrict()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>


                            <ng-template #itemTemplate let-item>
                              <div class="item">
                                <img src="{{item.photoUrl}}" height="25">
                                <span [innerHTML]="item.firstName"></span>
                                <small></small>
                              </div>
                            </ng-template>

                            <ng-template #notFoundTemplate let-notFound>
                              <div [innerHTML]="notFound"></div>
                            </ng-template>
                          </div> -->
                          <div *ngIf="isEditDistrict && getPropertyDataType('district') === 'text'">
                            <input [(ngModel)]="biodata.district" type="text" />
                            <button class="save-button-input" type="button" (click)="toggleEditDistrict()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                          </div>
                        <!-- DISTRICT-end -->



                          <!-- STATE-begin -->
                          <span  *ngIf="!isEditState" class="profile-pills">
                             <a class="padding-pills" [routerLink]="['/user', biodata.state]">{{biodata.state | uppercase}}</a>
                             <button *ngIf="isProfileInEditMode()" type="button" class="edit-button" (click)="toggleEditState()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            </span>

                            <app-gps-global-search *ngIf="isEditState && getPropertyDataType('state') === 'entity'" placeholder="State"  from="user" userType="state" (valueSave)='saveState($event)' [inputvalue]="editStateInput"></app-gps-global-search>

                          <!-- <div *ngIf="isEditState && getPropertyDataType('state') === 'entity'" class="ng-autocomplete party-search">
                            <ng-autocomplete
                              [(ngModel)]="editStateInput"
                              [data]="searchUsers"
                              placeHolder="State"
                              (inputChanged) = "onChangeSearch($event)"
                              [searchKeyword]="keywordState"
                              [itemTemplate]="itemTemplate"
                              [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>
                            <button class="save-button" type="button" (click)="toggleEditState()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

                          <ng-template #itemTemplate let-item>
                            <div class="item">
                              <img src="{{item.photoUrl}}" height="25">
                              <span [innerHTML]="item.firstName"></span>
                              <small></small>
                            </div>
                          </ng-template>

                          <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                          </ng-template>
                        </div> -->
                        <div *ngIf="isEditState && getPropertyDataType('state') === 'text'">
                            <input [(ngModel)]="biodata.state" type="text" />
                            <button class="save-button-input" type="button" (click)="toggleEditState()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                        </div>
                        <!-- STATE-end -->
                    </h5>
                    <h5>
                        <!-- PARTY-begin -->

                            <span *ngIf="!isEditParty">
                                <a class="padding-pills" [routerLink]="['/user', biodata.party]">{{biodata.party}} Party</a>
                                <button *ngIf="isProfileInEditMode()" type="button" class="edit-button" (click)="toggleEditParty()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                            </span>
                            <app-gps-global-search *ngIf="isEditParty && getPropertyDataType('party') === 'entity'" placeholder="Party"  from="user" userType="party" (valueSave)='saveParty($event)' [inputvalue]="editPartyInput"></app-gps-global-search>
                            <!-- <div *ngIf="isEditParty == true && getPropertyDataType('party') === 'entity'" class="ng-autocomplete party-search">
                                <ng-autocomplete
                                  [(ngModel)]="editPartyInput"
                                  [data]="searchUsers"
                                  placeHolder="Party"
                                  (inputChanged) = "onChangeSearch($event)"
                                  [searchKeyword]="keywordParty"
                                  [itemTemplate]="itemTemplate"
                                  [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>
                                <button class="save-button" type="button" (click)="toggleEditParty()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>


                                <ng-template #itemTemplate let-item>
                                  <div class="item">
                                    <img src="{{item.photoUrl}}" height="25">
                                    <span [innerHTML]="item.firstName"></span>
                                    <small></small>
                                  </div>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                  <div [innerHTML]="notFound"></div>
                                </ng-template>
                              </div> -->
                              <div *ngIf="isEditParty == true && getPropertyDataType('party') === 'text'">
                                <input [(ngModel)]="biodata.party" type="text" />
                                <button class="save-button-input" type="button" (click)="toggleEditParty()"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                              </div>
                        <!-- PARTY-end -->
                        </h5>
                </div>
                <div *ngIf="entityType === 'PUBLICUSER'">
                    <h4>
                        {{biodata.full_name}}
                    </h4>
                    <div>
                        @{{paramUsername}}
                    </div>
                </div>
                <div *ngIf="entityType === 'POLITICAL_PARTY'">
                    <h4>
                        {{biodata.full_name}}
                    </h4>
                    <div>
                        @{{paramUsername}}
                    </div>
                    <div>
                        {{biodata.description}}
                    </div>

                </div>
                <div *ngIf="entityType === 'LEGISLATIVE_DISTRICT'">
                    <h4>
                        {{biodata.full_name}}
                    </h4>
                    <div>
                        @{{paramUsername}}
                    </div>
                    <div>
                        {{biodata.description}}
                    </div>
                </div>
                <div class="paddingTop10">
                    <span *ngIf="!isSelfProfile" class="badge badge-pill badge-primary pointer"  (click)="followEntity()">{{followCntrlLabel}}</span>
                    <span *ngIf="!isSelfProfile" class="vseparator"></span>
                    <span class="badge badge-pill badge-primary pointer" (click)="Followers()">Followers &nbsp;<span class="badge badge-light">{{followersCount}}</span></span>
                    <span class="vseparator"></span>
                    <span class="badge badge-pill badge-primary pointer" (click)="Followings()">Following &nbsp;<span class="badge badge-light">{{followingsCount}}</span></span>
                    <span *ngIf="!isSelfProfile" class="vseparator"></span>
                    <span *ngIf="!isSelfProfile && !isInCircle" class="badge badge-pill badge-primary pointer" (click)="add2Circle()">Add to Circle<i class="fa fa-star-o"></i></span>
                    <span *ngIf="!isSelfProfile && isInCircle" class="badge badge-pill badge-primary pointer" (click)="removeFromCircle()">In Circle<i class="fa fa-star-o"></i></span>                    
                </div>


            </div>


            <div class="personal-info display-none" id="name-for-lock">
                <div *ngIf="entityType === 'LEGISLATOR' || entityType === 'LEGISLATORCONGRESS' || entityType === 'LEGISLATOROPENSTATE'">
                    <div>
                        <div *ngIf="!isEditDisplayname" class="fullname-display">
                            <b>
                                {{biodata.full_name}}
                            </b>
                            <button *ngIf="isProfileInEditMode()" type="button" class="edit-button" (click)="toggleEditDisplayname()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>


    </div>








    </div>
    <div class="row">

    <div class="col-sm-4 col-xs-12 sidebar-div-desktop" id="sidebar-div-desktop">
        <!-- Begin user profile -->
        <div class="text-center user-profile-2">
            <ul class="list-group">

                <li class="list-group-item pointer"
                    (click)="Activities()" [ngClass]="{ 'active': activitiesData, 'in-active': !activitiesData}">
                    <span class="pointer">
                        <i class="material-icons">rss_feed</i>Activities
                    </span>
                </li>

                <!-- <li class="list-group-item pointer"
                    (click)="Profiles()" [ngClass]="{ 'active': profileData, 'in-active': !profileData}">
                    <span class="pointer">Profile</span>
                </li> -->
                <li class="list-group-item pointer" *ngFor="let profileTemplate of profilesTemplates" (click)="Profiles(profileTemplate.name);loadTemplate(profileTemplate.profileTemplateId)" [ngClass]="{ 'active': profileTemplate.profileTemplateId == activeTemplate && (!activitiesData && !managedByActive && !settings), 'in-active': profileTemplate.profileTemplateId != activeTemplate && (!activitiesData && !managedByActive && !settings)}">
                    <i class="material-icons">{{profileTemplate.profileIcon}}</i> {{profileTemplate.name}}
                    <button *ngIf="isProfileInEditMode()" class="delete-image" type="button" (click)="deleteProfileData(profileTemplate)"> <i class="fa fa-times" aria-hidden="true"></i></button>
                </li>
                <li class="list-group-item pointer"
                    [ngClass]="{ 'active': managedByActive, 'in-active': !managedByActive}">
                    <span class="pointer" (click)="managedByUsers()">
                        <i class="material-icons">supervisor_account</i>Managed by
                    </span>
                </li>
                <li class="list-group-item pointer"
                (click)="showSettings()" [ngClass]="{ 'active': settings, 'in-active': !settings}">
                <span class="pointer">
                    <i class="material-icons">settings_applications</i>Settings
                </span>
            </li>
            </ul>

        </div><!-- End div .box-info -->
        <!-- Begin user profile -->
        </div>
        <div class="col-sm-8 col-xs-12" id="template-tabs">
            <div class="widget-div">
                <div class="widget widget-tabbed">
                    <!-- Nav tab -->

                    <div class="gap gray-bg">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row cols-reverse" id="page-contents">
                                        <!-- sidebar -->
                                        <!-- Main stage area -->
                                        <div class="col-lg-12 cols-item2">
                                            <div id="ActivityCollapse" [ngbCollapse]="isActivityCollapsed">
                                               <app-post [userId]="profileUserId" [requestedBy]="loggedUser.username" [selfActivities]=true [disableNewPost]=true></app-post>
                                            </div>
                                            <div id="FollowersCollapse" [ngbCollapse]="isFollowersCollapsed"
                                                 class="widget stick-widget">
                                                <ul class="followers">
                                                    <li *ngFor="let followingUser of followers">
                                                        <app-usercard1 [user]=followingUser></app-usercard1>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="FollowingsCollapse" [ngbCollapse]="isFollowingsCollapsed"
                                                    class="widget stick-widget">
                                                <ul class="followers">
                                                    <li *ngFor="let followingUser of followings">
                                                        <app-usercard1 [user]=followingUser></app-usercard1>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="managedByCollapse" [ngbCollapse]="isManagedByCollapsed"
                                            class="widget stick-widget">
                                            <h6>Add Members:</h6>
                                            <app-gps-global-search placeholder="User Name"  from="user" userType="managedby" (valueChange)='selectedUser($event)'></app-gps-global-search>


                                            <!-- <div class="ng-autocomplete managedby-search">
                                                <ng-autocomplete
                                                  [(ngModel)]="searchUserManagedBy"
                                                  (selected)='addMember(searchUserManagedBy.username)'
                                                  [data]="searchUsers"
                                                  placeHolder="User Name"
                                                  (inputChanged) = "onChangeSearch($event)"
                                                  [searchKeyword]="keywordUser"
                                                  [itemTemplate]="itemTemplate"
                                                  [notFoundTemplate]="notFoundTemplate">
                                                </ng-autocomplete>

                        
                                                <ng-template #itemTemplate let-item>
                                                  <div class="item">
                                                    <img src="{{item.photoUrl}}" height="25">
                                                    <span [innerHTML]="item.full_name"></span>
                                                    <small></small>
                                                  </div>
                                                </ng-template>
                        
                                                <ng-template #notFoundTemplate let-notFound>
                                                  <div [innerHTML]="notFound"></div>
                                                </ng-template>
                                              </div> -->

                                              <div class="row">
                                                <div class="managedby-user-list col-lg-4 col-md-3 col-sm-6 col-xs-12 card-body legislator-box-shadow" *ngFor="let managed of managedBy">
                                                  <app-usercard2 [username]="managed.username"></app-usercard2>
                                                  <div class="overlay"><button class="delete-managedby-user" type="button" (click)="removeMember(managed.username)"> <i class="fa fa-trash-o" aria-hidden="true"></i></button></div>

                                                </div>
                                              </div>
                         
                                           <!-- <ul class="followers">
                                               <li *ngFor="let managed of managedBy" class="managedby-user-list">
                                                <button class="delete-managedby-user" type="button" (click)="removeMember(managed.username)"> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                   <app-usercard1 [user]=managed></app-usercard1>
                                               </li>
                                           </ul> -->
                                           </div>

                                           <div id="setingsSection" [ngbCollapse]="isSettingsCollapsed"
                                           class="widget stick-widget">
                                           <form [formGroup]="settingsForm">
                                                <ul class="followers">
                                                    <li>
                                                        <div class="form-row">
                                                            <div class="col form-group">
                                                              <label>Access Restriction</label>
                                                              <div class="custom-control custom-switch">
                                                                <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="accessRestriction" (change)="accessChange()">
                                                                <label class="custom-control-label" for="customSwitch1">Public[OFF] / Private[ON]</label>
                                                              </div>
                                                            </div>
                                                          </div>
                                                    </li>
                                                </ul>
                                            </form>    
                                            </div>

                                            <div id="ProfileCollapse" [ngbCollapse]="isProfileCollapsed">
                                                <div class="card card-nav-tabs">
                                                    <div class="card-header-1 card-header-primary"  id="myHeader">
                                                      <!--   <div class="nav-tabs-navigation">
                                                            <div class="nav-tabs-wrapper">
                                                                <ul class="nav nav-tabs justify-content-center nav-pills nav-pills nav-fill"
                                                                    data-tabs="tabs">
                                                                    <li class="nav-item"
                                                                        *ngFor="let profileTemplate of profilesTemplates">
                                                                        <div>
                                                                            <span>
                                                                                <a class="nav-link template-tab text-black-50" data-toggle="tab"
                                                                                [routerLink]=""
                                                                                (click)="loadTemplate(profileTemplate.profileTemplateId)"
                                                                                *ngIf="profileTemplate.profileTemplateId" [ngClass]="{'active-tab':profileTemplate.profileTemplateId == activeTemplate}">
                                                                                    <i class="material-icons">{{profileTemplate.profileIcon}}</i>
                                                                                    {{profileTemplate.name}}
                                                                                </a>
                                                                                <button *ngIf="isProfileInEditMode()" class="delete-image" type="button" (click)="deleteProfileData(profileTemplate)"> <i class="fa fa-times" aria-hidden="true"></i></button>

                                                                            </span>
                                                                        </div>
                                                                    </li>
                                                                    <li *ngIf="isProfileInEditMode()" class="nav-item">
                                                                        <div ngbDropdown class="d-inline-block">
                                                                            <button class="btn btn-outline-primary btn-xs"
                                                                                    id="dropdownAddSection"
                                                                                    ngbDropdownToggle>
                                                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                                            </button>
                                                                            <div ngbDropdownMenu
                                                                                 aria-labelledby="dropdownAddSection">
                                                                                <button class="dropdown-item"
                                                                                        *ngFor="let profileTemplate of availableProfileTemplates"
                                                                                        (click)="addProfileData(profileTemplate)">
                                                                                    {{profileTemplate.name}}
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div> -->
                                                    </div>

                                                    <div class="card-body content">
                                                        <div class="tab-content text-center">
                                                            <div class="tab-pane active" id="templateType">
                                                                <app-usertemplate [type]="templateType"></app-usertemplate>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--HORIZONTAL ITEMS FOR PROFILES / ADD SECTION IN EDIT MODE-->
                                            </div>
                                        </div><!-- centerl meta -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End nav tab -->

                    <!-- Tab panes -->
                    <div class="tab-content">


                        <!-- Tab timeline -->
                        <div class="tab-pane animated active fadeInRight" id="my-timeline">
                            <div class="user-profile-content">

                                <!-- Begin timeline -->

                                <!-- End timeline -->
                            </div><!-- End div .user-profile-content -->
                        </div><!-- End div .tab-pane -->
                        <!-- End Tab timeline -->
                        <!-- Tab about -->
                        <!-- End Tab user messages -->
                    </div><!-- End div .tab-content -->
                </div><!-- End div .box-info -->
            </div>
        </div>
        </div>

</div>
<div class="bottom-tabs">
    <ul class="nav nav-tabs mobile-bottom-tabs">
        <li [ngClass]="{'active':isProfileCollapsed==false}"><button (click)="toggleTemplateDropDown();Profiles(activeTemplatName);loadTemplate(activeTemplate)" type="button">{{activeTemplatName}}</button></li>
        <li [ngClass]="{'active':isActivityCollapsed==false}"><button type="button" (click)="toggleTemplateDropDown();Activities()">Posts</button></li>
        <li [ngClass]="{'active':isManagedByCollapsed==false}"><button type="button"  (click)="toggleTemplateDropDown();managedByUsers()">Managed By</button></li>
        <li [ngClass]="{'active':isProfileCollapsed==false}">

            <div class="btn-group dropup">
              <button type="button" class="btn btn-secondary dropdown-toggle" (click)="toggleTemplateDropDown()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu" id="dropdown-templates-bottom" [ngClass]="{'dropdown-templates-bottom':showDropDown}">
                  <span class="dropdown-item-text" *ngFor="let profileTemplate of profilesTemplates" (click)="toggleTemplateDropDown();Profiles(profileTemplate.name);loadTemplate(profileTemplate.profileTemplateId)">
                      <i class="material-icons">{{profileTemplate.profileIcon}}</i> {{profileTemplate.name}}
                      <span *ngIf="isProfileInEditMode()" class="delete-image" (click)="deleteProfileData(profileTemplate)"> <i class="fa fa-times" aria-hidden="true"></i></span>

                  </span>

              </div>
            </div>



      </li>

    </ul>
</div>
