<div class="container">
    <div class="card-media" >
    <div class="card-media-body">


      <div class="social-box">
        <div class="container">
           <div class="row">
           
           
            
            <div class="col-lg-4 col-xs-12 text-center">
              <div class="box">
                
               
                <div class="box-text">
                  <div *ngIf="roleObj.entityType !== 'LEGISLATIVE COMMITTEE'">

                    <span  *ngFor="let displayProperty of displayProperties">
                      <span *ngIf="displayProperty.propId == 'start' && role[displayProperty.propId]" class="subtle"><i class="fa fa-calendar"></i>{{role[displayProperty.propId]}}</span>
                      <span *ngIf="displayProperty.propId == 'end' && role[displayProperty.propId]" class="subtle"> to {{role[displayProperty.propId]}}</span>
                      <span *ngIf="displayProperty.propId != 'start' && displayProperty.propId != 'end' && role[displayProperty.propId]" class="subtle date-time">
                          <i class="fa fa-users" *ngIf="displayProperty.propId == 'committee' && role[displayProperty.propId]"></i>
                          <i class="fa fa-flag" *ngIf="displayProperty.propId == 'party' && role[displayProperty.propId]"></i>
                          <i class="fa fa-map" *ngIf="displayProperty.propId == 'district' && role[displayProperty.propId]"></i>
              
                           {{role[displayProperty.propId]}}</span>
                    </span>
                  </div>
                </div>
                
               </div>
            </div>	 
            
             <div class="col-lg-4 col-xs-12 text-center">
              <div class="box">
                  
               </div>
            </div>
        
        </div>		
        </div>
    </div>



      <a href="javascript:void(0);"  *ngIf="inEditMode" class="lg-fa float-right" (click)="open(content, role)">
        <i class="fa fa-pencil-square-o"></i>
    </a>
    
    <div *ngIf="roleObj.entityType === 'LEGISLATIVE COMMITTEE'">
      <div class="subtle">      
       {{roleObj.data['title']}}
      </div>
      <div class="subtle">      
        {{userData.displayName}}
       </div>
 
    </div>  
    
      <div class="card-media-body-supporting-bottom">
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Role</h4>
        <!-- Close the Role modal-->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span> 
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="roleForm"> 
              <div class="form-group row" *ngFor="let displayProperty of displayProperties">
                <label for="{{displayProperty.propId}}">{{displayProperty.displayLabel}}</label>
                <div *ngIf="displayProperty.type === 'text'" class="input-group">
                    <input *ngIf="role" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control" placeholder="{{role[displayProperty.propId]}}">
                    <input *ngIf="!role" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control">

                </div>
                <div *ngIf="displayProperty.type === 'date'" class="input-group">
                  <input type='date' *ngIf="role" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control" placeholder="{{role[displayProperty.propId]}}">
                  <input type='date' *ngIf="!role" id="{{displayProperty.propId}}" [formControlName]="displayProperty['propId']" class="form-control">
                </div>
                
              </div> 
              <!--
              <div>
                <label for="addtionalInfo">Additional Information:</label>
                <ckeditor id="addtionalInfo" class="form-control" [formControlName]="editorData"></ckeditor>
                <ckeditor id="addtionalInfo" (change)="onChange($event)" [ngModel]="editorData" (ngModelChange)="editorData= $event"></ckeditor>
                
                <p>{{editorData}}</p>
              </div>
            -->                  
        </form>
    </div>
    <!-- Save Role information -->
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="saveProfile();modal.close('Save click')">Save</button>
    </div>
</ng-template>