.post-list{
    background-color:#FBFCFC;
}
.open-post{
  background-color: black;
  border: none;
  color: white;
  float: right;
  }
  .sticky-new-post{
    position: fixed;
    top: 75px;
    float: right;
    width: 42%;
    z-index: 3;
  }

  @media only screen and (max-width: 600px) {
    .sticky-new-post{
        position: fixed;
        top: 50px;
        float: right;
        width: 95%;
        z-index: 3;
      }
  }
