<app-newpost (newpost)="PostNewEvent($event)" *ngIf="!disableNewPost && isShowAllPosts"></app-newpost>


<div class="card gedf-card post-list">
    <div *ngIf="posts.length > 0">
        <cdk-virtual-scroll-viewport style="height: 550px" class="all-posts" itemSize="90" (scroll)="onPostScroll($event)">
            <app-postcard  *ngFor="let post of posts; let i = index" [post]="post" [isComment]="false" [idx]="i">
            </app-postcard>
        </cdk-virtual-scroll-viewport>
        <button (click)="topFunction()" id="myBtn" title="New Post"><i class='fa fa-paper-plane'></i></button>
    </div>
    <div *ngIf="posts.length < 1">
        No Post to show 
    </div>
</div>
