/*

[Master Stylesheet]

Project Name: winku (HMTL Template)
Version:    1.1
Last change:  4/september/18

====INDEX=====

01- general styling
02- sticky header 
03- login/landing page
04- home page topbar
05- timeline area
06- messages dropdowns
07- sidebar widgets
08- post sharing area
09- social icons
10- comment area 
11- search area
12- footer
13- widgets
14- side panel
15- short profile widget
16- svg button styling
17- 404 error page 
18- contact page
19- knowledge base page 
20- faq's page
21- photos page
22- favourit page 
23- edit basic info page
24- notification page
25- message page
26- loadmore 
27- responsive header
28- main menu
39- blog pages
40- blog detail

*/
/*=============== Fonts source Muli, Hobostd ===================*/
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,400i,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

@font-face {
    font-family: HoboStd;
    src: url('assets/fonts/HoboStd.ttf'), url('assets/fonts/HoboStd.eot');
}

/*===============
***General Styling 
===============*/
html, body {
    /* font-family: "Muli", "Segoe Ui"; */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 14px;
}



.padding-top2{
    padding-top: 2%;
}
.displayNone{
    display: none;
}
.party-search{
    width: 50% !important;
    margin-left: 23%;
    display: flex;
}
.save-button{
    cursor: pointer;
    border: none !important;
    color: #007bff;
    z-index: 1;
    height: 33px;
    background-color: white;
    position: relative;
    top: 1px;
    left: -13%;
}
.add-managed-button{
    cursor: pointer;
    border: none !important; 
    color: #007bff;
    z-index: 1;
    height: 33px;
    background-color: white;
    position: relative;
    top: 1px;
    left: 5%;

}
.add-managed-button .fa{
    font-size: 23px !important;
}
.edit-button{
    cursor: pointer;
    border: none !important;
    color: #007bff;
    z-index: -1;
    background-color: white;
    /* position: absolute;
    margin-left: 70% !important; */
    height: 35px;
}

.profile-pills{
    background-color: #FBFCFC;
    border: 1px solid rgba(0,0,0,0.07);
    border-radius: 5px;
  }

  .padding-pills{
      padding-right: 2px;
      padding-left: 2px;
  }
  .margin-pills{
    margin-right: 3px;
    margin-left: 3px;
   }
   .all-posts{
       background-color: white;
       height: 600px;
       overflow-y: scroll;
   }
 .reply-section{
    margin: 15px 0px 0px 0px;
  }


.list-group-item.active {
  background-color: white !important;
  color: black !important;

}

.container-fluid{
    padding: 0px !important;
}

.ng-autocomplete.create-page {
    width: 100% !important;
}
.ng-autocomplete.common-search {
    width: 100% !important;
}
/* .create-page-label{
    padding-left: 5px;
} */
input:focus {
    color: #495057 !important;
    background-color: #fff  !important;
    border-color: #80bdff  !important;
    outline: 0  !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25)  !important;
}
.autocomplete-container{
    box-shadow: none !important;
}
input{
    display: block;
    /* width: 100% !important; */
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
#postContent div{
    display: inline;
}

.image-upload-container{
    border: 1px solid #C1B6F2;
    border-radius: 5px;
    width:min-content;
  }
  .video-upload-container{
    border: 1px solid #C1B6F2;
    border-radius: 5px;
    width:min-content;
  }  

  .delete-image{
    float: right;
    font-size: 30px;
    color: #B61508;
    border: none !important;
    background: none !important;
  }

  #myBtn {
    position: fixed; 
    display: none;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: rgba(0,0,0,0.54); 
    color: white; 
    cursor: pointer; 
    /* padding: 15px;  */
    border-radius: 30px; 
    font-size: 15px;
    height: 40px;
    width: 40px;
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


  /* body{
    height: auto;
    background-image: url(assets/img/simple-banner.jpg);
  } */

  .banner-caption {
    text-align: left;
    display: inline-block;
    width: 100%;
}
.search-btn-div .form-group{
    float: left;
}

.banner-text {
    text-align: center;
}
.banner{
    background-image: url(assets/images/network6.png);

}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    height: auto;
   
    /* margin-right: auto;
    margin-left: auto; */
}

.main-heading {
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
}
.main-heading h2>span {
    color: #018ece;
}

.category-box {
    position: relative;
    height: 210px;
    background: #fff;
    box-shadow: 0 5px 25px 0 rgba(41, 128, 185, 0.15);
    -webkit-box-shadow: 0 5px 25px 0 rgba(41, 128, 185, 0.15);
    border-radius: 5px;
    text-align: center;
    /* padding: 50px 12px 30px; */
    box-sizing: border-box;
    margin-top: 30px;
    overflow: hidden;
    transition: .6s linear;
}

.category-box .category-desc {
    z-index: 2;
}
.category-box .category-desc .category-icon {
    font-size: 40px;
    color: #ff7c39;
    margin-bottom: 10px;
    transition: .6s cubic-bezier(0.45, 0.01, 0.1, 1.49);
}

/* .category-box .category-desc i {
    color: #018ece;
} */

.category-box .category-desc i.abs-icon {
    position: absolute;
    bottom: 5px;
    left: 5px;
    opacity: 0;
    transition: all ease-in .4s;
    color: #eff1f3;
}

.category-box:hover i.abs-icon {
    position: absolute;
    bottom: 25px;
    left: 25px;
    opacity: 1;
    color: #000000;
}

.category-box .category-desc .category-detail p {
    margin-bottom: 5px;
}

.main-heading h2 {
    color: #252d40;
    position: relative;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

@media only screen and (min-width: 1024px){
    section {
        padding: 80px 0;
    }

    .banner-caption {
        margin-top: 120px;
    }

    /* .news-div{
        margin-top: 5%;
        margin-left: 15%;
        width: 70%;
    } */
}


@media only screen and (min-width: 768px){
    h3 {
        font-size: 40px !important;
        line-height: 36px;
    }
    h2 {
        font-size: 36px;
        line-height: 48px;
    }
    .banner-caption {
        text-align: left;
        display: inline-block;
        width: 100%;
        /* margin-left: 13%; */
        margin-top: 30%;
    }
    .banner-caption h1 {
        color: #000;
        text-shadow: none;
        font-weight: 600;
        line-height: 1.3;
        letter-spacing: 3px;
        font-size: 94px;
        margin-bottom: .5em;
    }
    .banner-caption h1 span {
        color: #018ece !important;
    }

}

.autocomplete-container{
    height: auto !important;
}
.navbar-nav{
	font-size: 15px;
}

@media only screen and (max-width: 1200px) {
    .filterPill{
      white-space:nowrap; 
      overflow-x:scroll;
    }
}

.filterPill .button-color {
    color: rgb(0 0 0 / 64%);
   /* border: 1px solid #ebebeb;*/
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.08);
    /*font-weight: 600;*/
    font-size: 15px;
    border-radius: 28px;
    /*padding: 8px 20px;*/
    margin-right: 5px;
}

.filterPill button:hover{
    background-color: #00000061;
  
}
/*
.filterPill .button .selected{
    background-color: #00000061;
  
}
*/
.filterPill .active{
    background-color: #00000061;
}

.full-search-2.hero-search-radius {
    background: #00000061;
    padding: 20px 27px;
    border-radius: 4px;
    padding-bottom: 7px;
    -webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, .2);
    box-shadow: 0 0 0 8px rgba(255, 255, 255, .2);
}

.category-icon .fa{
    color: #018ece;
}

.autocomplete-container .suggestions-container {
    position: fixed !important;
}
.all-posts .cdk-virtual-scroll-content-wrapper{
    display: inline-block !important;
    width: 500px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.modal-dialog{ overflow: auto;}