This is a place to quickly access your favourite profile.
You can add somebody here by selecting 'Add to Circle' from their profile.

<div *ngIf="circleUsersInfo === null">
No members got added in your Circle.
</div>

<div *ngIf="circleUsersInfo != null" class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="nav">
        <li class="nav-item border-right" *ngFor="let circleUserCategory of circleUserCategories">
          <a class="nav-link search-legislator-navpills cursor-hand" (click)="loadCircleUsersByCategory(circleUserCategory)">
            <span class="badge badge-secondary" [ngClass]="{'active': circleCatagoryActive == circleUserCategory}">{{circleUserCategory}}</span>
          </a>
        </li>

      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 card-body legislator-box-shadow" *ngFor="let circleUser of circleUsers">
      <app-usercard2 [username]="circleUser"></app-usercard2>
    </div>
  </div>
</div>  
