
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <ul class="nav">
        <li class="nav-item border-right">
          <!--<a class="nav-link search-legislator-navpills cursor-hand" (click)="loadSearch($event,'searchLegislator')">-->
          <a class="nav-link search-legislator-navpills cursor-hand" (click)="loadCircleUsers($event,'searchDistrict')">
            <span class="badge badge-secondary active">Legislators</span>
          </a>
        </li>
        <li class="nav-item border-right">
          <a class="nav-link search-legislator-navpills cursor-hand" (click)="loadCircleUsers($event,'searchDistrict')">
            <span class="badge badge-secondary">District</span>
          </a>
        </li>
        <li class="nav-item border-right">
          <a class="nav-link search-legislator-navpills cursor-hand" (click)="loadCircleUsers($event,'searchTownShip')">
            <span class="badge badge-secondary">Township</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link search-legislator-navpills cursor-hand" (click)="loadCircleUsers($event,'searchHOA')">
            <span class="badge badge-secondary">HOA</span>
          </a>
        </li>
<!--
        <li class="nav-item">
          <button type="button" class="btn btn-block btn-sm landscape-btn" (click)="findRepresentatives()" [ngClass]="{ 'btn-outline-primary active': findReps, 'btn-outline-primary': !findReps  }"> Find Representatives <i class="fa fa-search" aria-hidden="true"></i> </button>
        </li>
      -->
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 card-body legislator-box-shadow" *ngFor="let circleUser of circleUsers">
      <app-usercard2 [fromParent]="circle" [username]="circleUser"></app-usercard2>
    </div>
  </div>
</div>  
