<div>
  <a *ngIf="inEditMode" href="javascript:void(0);" class="lg-fa float-right"> 
    <i class="fa fa-plus"></i>
</a>

  <div class="officeProfileCard col-xs-12" *ngFor="let office of offices">

    <table class="table">
      <tbody class="box-shadow">
      <tr>
        <td colspan="2" class="text-center" *ngIf="office.isCurrent">
          <span class="badge badge-pill badge-primary">Current:</span>
        </td>
      </tr>
      <tr class="info" *ngFor="let displayProperty of displayProperties">
        <td>{{displayProperty.displayLabel}}
        </td>
        <td>{{office[displayProperty.propId]}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
